{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle du système d'essuyage" %}{% endblock %}

{% block content %}
    {% url 'essuyage:modifier_essuyage' essuyage.pk as url_modifier %}
    {% url 'essuyage:essuyage_detail_pdf' essuyage.pk as url_pdf %}
    {% url 'essuyage:delete_essuyage' essuyage.pk as url_delete %}
    {% if exemplaire %}{% url 'essuyage:essuyage_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle du système d'essuyage" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=essuyage km_controle=essuyage.kilometrage_essuyage icone="essuyage.png" %}
{% endblock %}
