{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow mt-16 mb-16">

    <h1 class="text-2xl font-bold mb-4 text-center flex items-center justify-center">
        <img src="{% static 'icons/pneus.png' %}" alt="pneus" style="width:60px; height:60px; margin-right:10px;">
        {% trans "Ajouter des Pneus" %}
    </h1>

     <!-- Messages Django -->
       {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="mb-3 px-4 py-2 rounded bg-green-100 text-green-800 border border-green-300">
                    {{ message }}
                </div>
            {% elif 'error' in message.tags %}
                <div class="mb-3 px-4 py-2 rounded bg-red-100 text-red-800 border border-red-300">
                    {{ message }}
                </div>
            {% else %}
                <div class="mb-3 px-4 py-2 rounded bg-gray-100 text-gray-800 border border-gray-300">
                    {{ message }}
                </div>
            {% endif %}
       {% endfor %}

    <form method="post" class="flex flex-col space-y-4">
        {% csrf_token %}

        <!-- Manufacturier -->
        <div>
            <label for="id_manufacturier">{% trans "Manufacturier" %}</label>
            <input type="text" id="id_manufacturier" name="manufacturier" class="border rounded px-4 py-2 w-full" required>
        </div>

        <!-- Emplacement -->
        <div>
            <label for="id_emplacement">{% trans "Emplacement" %}</label>
            <select id="id_emplacement" name="emplacement" class="border rounded px-3 py-2 w-full" required>
                <option value="">{% trans "Sélectionner un emplacement" %}</option>
                {% for value, label in EmplacementPneus.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Type de pneus -->
        <div>
            <label for="id_type_pneus">{% trans "Type de pneus" %}</label>
            <select id="id_type_pneus" name="type_pneus" class="border rounded px-3 py-2 w-full" required>
                <option value="">{% trans "Sélectionner un type" %}</option>
                {% for value, label in TypePneus.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="id_nom_type">{% trans "Nom du pneus" %}</label>
            <input type="text" id="id_nom_type" name="nom_type" class="border rounded px-4 py-2 w-full" required>
        </div>

        <!-- Dimensions -->
        <div>
            <label for="id_pneus_largeur">{% trans "Largeur (mm)" %}</label>
            <input type="text" id="id_pneus_largeur" name="pneus_largeur" class="border rounded px-4 py-2 w-full" required>
        </div>
        <div>
            <label for="id_pneus_hauteur">{% trans "Hauteur en pourecent" %}</label>
            <input type="text" id="id_pneus_hauteur" name="pneus_hauteur" class="border rounded px-4 py-2 w-full" required>
        </div>
        <div>
            <label for="id_pneus_jante">{% trans "Diamètre jante (pouces)" %}</label>
            <input type="text" id="id_pneus_jante" name="pneus_jante" class="border rounded px-4 py-2 w-full" required>
        </div>

        <!-- Indices -->
        <div>
            <label for="id_indice_vitesse">{% trans "Indice de Vitesse" %}</label>
            <select id="id_indice_vitesse" name="indice_vitesse" class="border rounded px-3 py-2 w-full" required>
                <option value="">{% trans "Sélectionner un indice de vitesse" %}</option>
                {% for value, label in IndiceVitesse.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="id_indice_charge">{% trans "Indice de charge" %}</label>
            <select id="id_indice_charge" name="indice_charge" class="border rounded px-3 py-2 w-full" required>
                <option value="">{% trans "Sélectionner un indice de charge" %}</option>
                {% for value, label in IndiceCharge.choices %}
                    <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="id_numero_oem">{% trans "Numero OEM" %}</label>
            <input type="text" id="id_numero_oem" name="numero_oem" class="border rounded px-4 py-2 w-full" required>
        </div>

        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded w-full">
            {% trans "Ajouter" %}
        </button>
    </form>
</div>
{% endblock %}
