{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ pneus.type_pneus }} - {{ pneus.pneus_avant_largeur }}{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow mt-16 mb-16">
    <h1 class="text-2xl font-bold mb-4 text-center flex items-center">
        <img src="{% static 'icons/pneus.png' %}" alt="Pneus"
             style="width:60px; height:60px; margin-right:10px;">
        {% trans "Détails des pneus" %}: {{ pneus.manufacturier }} {{ pneus.type_pneus }}
    </h1>

    <form class="flex flex-col space-y-4">

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Manufacturier" %}</label>
            <input type="text" value="{{ pneus.manufacturier }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Type de pneus" %}</label>
            <input type="text" value="{{ pneus.type_pneus }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Nom du pneus" %}</label>
            <input type="text" value="{{ pneus.nom_type }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Largeur en millimètres" %}</label>
            <input type="text" value="{{ pneus.pneus_largeur }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Hauteur en pourcent" %}</label>
            <input type="text" value="{{ pneus.pneus_hauteur }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>


        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Diamètre en pouces" %}</label>
            <input type="text" value="{{ pneus.pneus_jante }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Numero OEM" %}</label>
            <input type="text" value="{{ pneus.numero_oem }}" class="border border-gray-300 rounded px-4 py-2 w-full" readonly>
        </div>

        <!-- Liens voiture -->
       {% if pneus.voitures_modeles.all %}
            <div class="flex flex-col">
                <label class="mb-1 font-medium">{% trans "Modèle de voiture" %}</label>
                <input type="text" value="{{ pneus.voitures_modeles.all|first }}" class="border px-4 py-2 w-full" readonly>
            </div>
        {% endif %}

        {% if pneus.voitures_exemplaires.all %}
            <div class="flex flex-col">
                <label class="mb-1 font-medium">{% trans "Exemplaire de voiture" %}</label>
                <input type="text" value="{{ pneus.voitures_exemplaires.all|first }}" class="border px-4 py-2 w-full" readonly>
            </div>
        {% endif %}




        <!-- Bouton retour -->
        <a href="{% url 'voiture_pneus:list' %}"
           class="mt-4 bg-blue-700 text-white px-4 py-2 rounded w-full text-center hover:bg-blue-400 transition">
            {% trans "Retour" %}
        </a>

    </form>
</div>
{% endblock %}
