{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=assurance_police.nom_societe|slugify %}
                <img src="{% static 'assurance_police/'|add:image_name|add:'.png' %}"
                     alt="{{ assurance_police.nom_compagnie }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/assurance-voiture.png' %}';">
            {% endwith %}
            <span>{% trans "Détails de la police d'assurance :" %}</span>

           <span class="text-black-700">{{ assurance_police.assurance.nom_compagnie }}</span>
        </h1>

        <a href="{% url 'assurance_police:assurance_police_list' %}"
           class="text-blue-600 hover:underline">
            {% trans "Retour à la liste des assurances" %}
        </a>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Compagnie" %} :</strong>
                {{ assurance_police.assurance.nom_compagnie }}
            </p>
            <p>
                <strong>{% trans "Immatriculation" %} :</strong>
                {{ assurance_police.voiture_exemplaire.immatriculation }}
            </p>
            <p>
                <strong>{% trans "Numéro de Police" %} :</strong>
                {{ assurance_police.numero_contrat }}
            </p>
            <p>
                <strong>{% trans "Prime annuelle" %} :</strong>
                {{ assurance_police.prime_annuelle }}
            </p>





           <div class="mt-auto w-full">
                <a href="{% url 'assurance_police:modifier_assurance_police' assurance_police.id %}"
                   class="block w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold text-center">
                    {% trans "Modifier la police" %}
                </a>
            </div>


        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Informations Peppol" %}
            </h2>

            <p>
                <strong>{% trans "Identifiant Peppol" %} :</strong><br>
                {{ assurance.peppol_id }}
            </p>

        </div>
    </div>

    <!-- Adresse -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Adresse" %}
        </h2>

        {% if assurance.adresse %}
            <p>{{ assurance.adresse }}</p>
        {% else %}
            <p class="text-gray-500">
                {% trans "Aucune adresse renseignée." %}
            </p>
        {% endif %}
    </div>

    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ assurance.created_at|date:"d/m/Y H:i" }}
        </p>
    </div>



    <!-- Actions -->
    <div class="bg-white shadow-md rounded-lg p-6 flex gap-4">
        <a href="{% url 'assurance:assurance_list' %}" class="flex-1">
              <button type="button" class="bg-blue-700 text-white px-4 py-2 rounded w-full mt-4">
                    {% trans "Retour à la liste des assureurs" %}
              </button>
        </a>
    </div>

</div>
{% endblock %}
