{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=assurance_police.nom_societe|slugify %}
                <img src="{% static 'assurance_police/'|add:image_name|add:'.png' %}"
                     alt="{{ assurance_police.nom_compagnie }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/assurance-voiture.png' %}';">
            {% endwith %}
            <span>{% trans "Détails de la police d'assurance :" %}</span>

           <span class="text-black-700">{{ assurance_police.assurance.nom_compagnie }}</span>
        </h1>


    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Compagnie" %} :</strong>
                {{ assurance_police.assurance.nom_compagnie }}
            </p>
             <p>
                <strong>{% trans "Téléphone" %} :</strong>
                {{ assurance_police.assurance.telephone }}
            </p>
            <p>
                <strong>{% trans "Immatriculation" %} :</strong>
                 {% with exemplaire=assurance_police.voiture_exemplaire %}
                    {% if exemplaire.pays == 'Belgique' %}
                    <div class="flex items-center w-[180px] h-[36px] bg-white border-2 border-[#8B0000] rounded font-[Arial]">
                        <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[14px] leading-none">
                            <span>🇪🇺</span>
                            <span>B</span>
                        </div>
                        <div class="w-full text-center font-bold text-[#8B0000] text-[18px]">
                            {{ exemplaire.immatriculation|upper }}
                        </div>
                    </div>

                    {% elif exemplaire.pays == 'Luxembourg' %}
                    <div class="flex items-center w-[180px] h-[36px] bg-[#FFEB3B] border-2 border-black rounded font-[Arial]">
                        <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[14px] leading-none">
                            <span>🇪🇺</span>
                            <span>L</span>
                        </div>
                        <div class="w-full text-center font-bold text-black text-[18px]">
                            {{ exemplaire.immatriculation|upper }}
                        </div>
                    </div>

                    {% elif exemplaire.pays == 'Allemagne' %}
                    <div class="flex items-center w-[180px] h-[36x] bg-white border-2 border-black rounded font-[Arial]">
                        <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[14px] leading-none">
                            <span>🇪🇺</span>
                            <span>D</span>
                        </div>
                        <div class="w-full text-center font-bold text-black text-[18px]">
                            {{ exemplaire.immatriculation|upper }}
                        </div>
                    </div>
                    {% endif %}
                {% endwith %}



            </p>
            <p>
                <strong>{% trans "Numéro de Police" %} :</strong>
                {{ assurance_police.numero_contrat }}
            </p>
            <p>
                <strong>{% trans "Prime annuelle" %} :</strong>
                {{ assurance_police.prime_annuelle }}
            </p>





           <div class="mt-auto w-full">
                <a href="{% url 'assurance_police:modifier_assurance_police' assurance_police.id %}"
                   class="block w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold text-center">
                    {% trans "Modifier la police" %}
                </a>
            </div>


        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Informations" %}
            </h2>

            <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ assurance_police.remarques }}
            </p>

        </div>
    </div>

    <!-- Adresse -->
   <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Adresse de l'assureur" %}
        </h2>

        {% if assurance_police.adresse_assurance %}
            <p>{{ assurance_police.adresse_assurance }}</p>
        {% else %}
            <p class="text-gray-500">
                {% trans "Aucune adresse renseignée." %}
            </p>
        {% endif %}
    </div>

    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ assurance_police.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ assurance_police.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <br>
    <br>

    <!-- Actions -->
    <div>
        <a href="{% url 'assurance_police:assurance_police_list' %}"
            class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition whitespace-nowrap focus:outline-none focus:ring-2 focus:ring-blue-500">            {% trans "Retour à la liste des assurances" %}
        </a>
    </div>

</div>
{% endblock %}
