{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle des jeux" %}{% endblock %}

{% block content %}
    {% url 'jeux_pieces:modifier_jeux_pieces' jeu.pk as url_modifier %}
    {% url 'jeux_pieces:controle_jeux_pdf' jeu.pk as url_pdf %}
    {% url 'jeux_pieces:delete_jeux' jeu.pk as url_delete %}
    {% if exemplaire %}{% url 'jeux_pieces:jeux_pieces_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle des jeux" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=jeu km_controle=jeu.kilometrage_jeu icone="pieces-de-voiture.png" %}
{% endblock %}
