{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du nettoyage intérieur" %}{% endblock %}

{% block content %}
    {% url 'nettoyage_interieur:modifier_nettoyage_int' nettoyage_int.pk as url_modifier %}
    {% url 'nettoyage_interieur:nettoyage_interieur_pdf' nettoyage_int.pk as url_pdf %}
    {% url 'nettoyage_interieur:delete_nettoyage_int' nettoyage_int.pk as url_delete %}
    {% if exemplaire %}{% url 'nettoyage_interieur:nettoyage_int_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du nettoyage intérieur" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=nettoyage_int km_controle=nettoyage_int.kilometrage_net_int icone="nettoyage_int.png" %}
{% endblock %}
