{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du nettoyage extérieur" %}{% endblock %}

{% block content %}
    {% url 'nettoyage_exterieur:modifier_nettoyage_ext' nettoyage_ext.pk as url_modifier %}
    {% url 'nettoyage_exterieur:nettoyage_exterieur_pdf' nettoyage_ext.pk as url_pdf %}
    {% url 'nettoyage_exterieur:delete_nettoyage_ext' nettoyage_ext.pk as url_delete %}
    {% if exemplaire %}{% url 'nettoyage_exterieur:nettoyage_ext_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du nettoyage extérieur" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=nettoyage_ext km_controle=nettoyage_ext.kilometrage_net_ext icone="nettoyage_ext.png" %}
{% endblock %}
