{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'injection" %}{% endblock %}

{% block content %}
    {% url 'injection:modifier_injection' injection.pk as url_modifier %}
    {% url 'injection:injection_detail_pdf' injection.pk as url_pdf %}
    {% url 'injection:delete_injection' injection.pk as url_delete %}
    {% if exemplaire %}{% url 'injection:injection_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'injection" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=injection km_controle=injection.kilometrage_injection icone="injection.png" %}
{% endblock %}
