{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
           {% with image_name=freins.marque_disques_ar|slugify %}
            <img src="{% static 'disque-de-frein/'|add:image_name|add:'.png' %}"
                 alt="{{ freins.marque_disques_av }}"
                 class="w-12 h-12"
                 onerror="this.onerror=null;this.src='{% static 'icons/disque-de-frein.png' %}';">
            {% endwith %}
            <span>{% trans "Détails des freins arrière :" %}</span>

           <span class="text-black-700">{{ freins.marque_disques_ar }}</span>
        </h1>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Marque" %} :</strong>
                {{ frein.marque_disques_ar }}
            </p>

            <p>
                <strong>{% trans "Numéro OEM des disques" %} :</strong>
                {{ frein.numero_oem_disques_ar }}
            </p>

            <p>
                <strong>{% trans "Diamètre du disque" %} :</strong>
                {{ frein.taille_disque_ar }}
            </p>

            <p>
                <strong>{% trans "Epaisseur du disque" %} :</strong>
                 <span class="text-green-500">
                {{ frein.epaisseur_disque_ar }}
                 </span>
            </p>

            <p>
                <strong>{% trans "Epaisseur minimum du disque" %} :</strong>
                <span class="text-red-500">
                    {{ frein.epaisseur_min_disque_ar }}
                </span>
            </p>

             <p>
                <strong>{% trans "Numéro OEM des plaquettes" %} :</strong>
                {{ frein.numero_oem_plaquettes_ar }}
            </p>

             <p>
                <strong>{% trans "Epaisseur des plaquettes" %} :</strong>
                {{ frein.plaquettes_ar }}
            </p>
        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Remarques" %}
            </h2>

            <p>
                <strong>{% trans "Remarques" %} :</strong>
                {{ frein.remarques }}
            </p>

        </div>

        <div class="mt-auto w-full">
            <a href="{% url 'voiture_freins_ar:modifier_freins_ar' frein.id %}" class="block w-full">
                <button type="button"
                        class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                    {% trans "Modifier les freins arrière" %}
                </button>
            </a>
        </div>
    </div>



    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ frein.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ frein.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <div style="background-color: #fee2e2; color: #991b1b; border: 1px solid #fca5a5; padding: 10px; border-radius: 6px;">
            <strong>Erreurs :</strong>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br>
    <!-- Actions -->
    <div class="mb-4">
        <a href="{% url 'voiture_freins_ar:freins_ar_list' %}"
            class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour à la liste des freins arrière" %}
        </a>
    </div>
</div>
{% endblock %}