{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ frein_ar.marque_disque_ar }} {% endblock %}

{% block content %}
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow mt-16 mb-16">
    <h1 class="text-2xl font-bold mb-4 text-center flex items-center">
        <img src="{% static 'icons/disque-de-frein.png' %}" alt="freins"
             style="width:60px; height:60px; margin-right:10px;">
        {% trans "Détails du freinage" %}: {{ frein_ar.marque_disque_ar }}
    </h1>

      <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <div style="background-color: #fee2e2; color: #991b1b; border: 1px solid #fca5a5; padding: 10px; border-radius: 6px;">
            <strong>Erreurs :</strong>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="flex flex-col space-y-4">

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Marque disque arrière" %}</label>
            <input type="text" value="{{ frein_ar.marque_disque_ar }}" class="border border-gray-300 rounded px-4 py-2 w-full" >
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Taille disque arrière" %}</label>
            <input type="text" value="{{ frein_ar.taille_disque_ar }}" class="border border-gray-300 rounded px-4 py-2 w-full" >
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Epaisseur du disque arrière" %}</label>
            <input type="text" value="{{ frein_ar.epaisseur_disque_ar }}" class="border border-gray-300 rounded px-4 py-2 w-full" >
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Epaisseur minimum du disque arrière" %}</label>
            <input type="text" value="{{ frein_ar.epaisseur_min_disque_ar }}" class="border border-gray-300 rounded px-4 py-2 w-full" >
        </div>

        <!-- Liens voiture -->
        {% if frein_ar.voiture_modele %}
        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Modèle de voiture" %}</label>
            <input type="text" value="{{ frein_ar.voiture_modele.nom }}" class="border border-gray-300 rounded px-4 py-2 w-full" >
        </div>
        {% endif %}

        {% if frein_ar.voiture_exemplaire %}
        <div class="flex flex-col">
            <label class="mb-1 font-medium">{% trans "Exemplaire de voiture" %}</label>
            <input type="text" value="{{ frein_ar.voiture_exemplaire.immatriculation }}" class="border border-gray-300 rounded px-4 py-2 w-full">
        </div>
        {% endif %}



        <div class="flex gap-3 mt-6">
            <button type="submit"
                    class="flex-1 bg-blue-700 text-white px-5 py-3 rounded hover:bg-blue-500 font-semibold text-center">
                {% trans "Enregistrer" %}
            </button>
            <a href="{% url 'voiture_freins_ar:list_ar' %}"
               class="flex-1 bg-gray-300 text-black px-5 py-3 rounded hover:bg-gray-400 font-semibold text-center">
               {% trans "Annuler" %}
            </a>
        </div>


    </form>
</div>
{% endblock %}
