{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails de l'entretien" %}{% endblock %}

{% block content %}
    {% url 'entretien:modifier_entretien' entretien.pk as url_modifier %}
    {% url 'entretien:entretien_detail_pdf' entretien.pk as url_pdf %}
    {% url 'entretien:delete_entretien' entretien.pk as url_delete %}
    {% if exemplaire %}{% url 'entretien:entretien_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails de l'entretien" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=entretien km_controle=entretien.kilometrage_entretien icone="entretien.png" %}
{% endblock %}
