{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=assurance_police.nom_societe|slugify %}
                <img src="{% static 'frein/'|add:image_name|add:'.png' %}"
                     alt="{{ frein.remarques }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/disque-de-frein.png' %}';">
            {% endwith %}
            <span>{% trans "Détails du controle des freins :" %}</span>
             {{ exemplaire.voiture_marque.nom_marque }}
                {{ exemplaire.voiture_modele.nom_modele }}
                {{ exemplaire.voiture_modele.nom_variante }}
        </h1>


    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

             <p><strong>{% trans "Immatriculation" %} :</strong>
                <div>
                    {% include "fuel/partials/plaque.html" %}
                </div>
            </p>

            <p><strong>{% trans "Kilométrage" %} :</strong> {{ frein.kilometres_chassis }}</p>
            <p><strong>{% trans "Disques avant" %} :</strong> {{ frein.avant_freins_d_epaisseur_disques }}</p>
            <p><strong>{% trans "Plaquettes avant" %} :</strong> {{ frein.avant_freins_pl_usure_plaquettes }}</p>
            <p><strong>{% trans "Disques arrière" %} :</strong> {{ frein.arriere_freins_d_epaisseur_disques }}</p>
            <p><strong>{% trans "Plaquettes arrière" %} :</strong> {{ frein.arriere_freins_pl_usure_plaquettes }}</p>



            <p><strong>{% trans "Tag" %} :</strong> {{ frein.get_tag_display }}</p>
            <p><strong>{% trans "Technicien" %} :</strong> {{ frein.tech_nom_technicien }} ({{ frein.tech_role_technicien }})</p>









        </div>

            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-lg font-semibold mb-4">{% trans "Jeux pièces" %}</h2>
                <p><strong>{% trans "Date de l'intervention" %} :</strong> {{ frein.date|date:"d/m/Y" }}</p>
                 <p><strong>{% trans "Remarques" %} :</strong> {{ frein.remarque }}</p>

            </div>


            <div class="mt-auto w-full">
                <a href="{% url 'freins:modifier_freins' frein.id %}" class="block w-full">
                    <button type="button"
                        class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier le controle des freins" %}
                    </button>
                </a>
            </div>

    </div>



</div>


    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ frein.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ frein.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <br>
    <br>

    <!-- Actions -->
    <div>
       <a href="{% url 'freins:freins_list' frein.voiture_exemplaire.id %}"
             class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour à la liste des contrôles freins" %}
        </a>
    </div>

</div>
{% endblock %}
