{% extends 'base.html' %}
{% load i18n widget_tweaks static %}

{% block content %}
<br>
<br>
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold flex items-center gap-4">
            {% if check_up.tech_societe %}
                {% with image_name=check_up.tech_societe.nom|slugify %}
                    <img src="{% static 'check_up/'|add:image_name|add:'.png' %}"
                         alt="{{ check_up.tech_societe.nom }}"
                         class="w-12 h-12 rounded"
                         onerror="this.onerror=null; this.src='{% static 'icons/check_up.png' %}';">
                {% endwith %}
            {% else %}
                <img src="{% static 'icons/checkup.png' %}" class="w-12 h-12 rounded">
            {% endif %}
            <span>{% trans "Modifier le checkup" %}</span>
            <span class="text-gray-700 font-medium">#{{ frein.id }}</span>
        </h1>
    </div>

     <div class="mb-4">
        {% include "maintenance/partials/plaque.html" %}
    </div>

    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <div style="background-color: #fee2e2; color: #991b1b; border: 1px solid #fca5a5; padding: 10px; border-radius: 6px;">
            <strong>Erreurs :</strong>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    <br>

    <!-- Formulaire -->
    <form method="post" class="space-y-4">
        {% csrf_token %}

        <h2 class="text-lg font-semibold mb-2">{% trans "Détails du checkup" %}</h2>

        <br>

        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/compteur.png' %}" alt="Kilometrage"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Kilométrage" %}
        </h2>
        {% for field in form %}
            {% if "kilo" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>

                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">
                            {{ field.errors|striptags }}
                        </p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">
                        {{ field.label }}
                    </label>

                    {{ field|add_class:"input" }}

                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">
                            {{ field.errors|striptags }}
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>

        <!-- Section plaquettes avant -->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/plaquettes-de-frein.png' %}" alt="plaquettes avant"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Plaquettes avant" %}
        </h2>
        {% for field in form %}
            {% if "avant_freins_pl" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>


         <!-- Section disques avant -->
         <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/disque-de-frein.png' %}" alt="disques de freins avant"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Disques avant" %}
        </h2>
        {% for field in form %}
            {% if "avant_freins_d" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>


        <!-- Section plaquettes arriere -->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/plaquettes-de-frein.png' %}" alt="plaquettes arrières"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Plaquettes arrière" %}
        </h2>
        {% for field in form %}
            {% if "arriere_freins_pl" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>
         <!-- Section disques arriere -->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/disque-de-frein.png' %}" alt="disques de freins arrières"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Disques arrière" %}
        </h2>
        {% for field in form %}
            {% if "arriere_freins_d" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>

         <!-- Section freins machoire -->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/etrier.png' %}" alt="etrier de frein"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Mâchoires de freins" %}
        </h2>
        {% for field in form %}
            {% if "machoire" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>

         <!-- Section fuites -->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/fuite-deau.png' %}" alt="Fuite"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Fuites" %}
        </h2>
        {% for field in form %}
            {% if "fuite" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>


         <!-- Section liquides -->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/liquide_frein.png' %}" alt="liquide de frein"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Liquide de freins" %}
        </h2>
        {% for field in form %}
            {% if "liquide" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>



          <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/tag.png' %}" alt="etiquette"
                 style="width:60px; height:60px; margin-right:10px;">
              {% trans "Etiquette" %}
          </h2>
        {% for field in form %}
            {% if "tag" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>

                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">
                            {{ field.errors|striptags }}
                        </p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">
                        {{ field.label }}
                    </label>

                    {{ field|add_class:"input" }}

                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">
                            {{ field.help_text }}
                        </p>
                    {% endif %}

                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">
                            {{ field.errors|striptags }}
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <br>

        <!-- Section remarques -->
         <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/notes.png' %}" alt="remarques"
                 style="width:60px; height:60px; margin-right:10px;">
             {% trans "Remarques" %}
         </h2>
        {% for field in form %}
            {% if "remarques" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}


        <br>

       <!-- Section piece-->
        <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/piece.png' %}" alt="remarques"
                 style="width:60px; height:60px; margin-right:10px;">
            {% trans "Pieces" %}
        </h2>
        {% for field in form %}
            {% if "piece" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}


        <br>



        <!-- Section technicien -->
      <h2 class="text-xl font-semibold mb-2 mt-4 border-b pb-1 flex items-center">
            <img src="{% static 'icons/mecanicien.png' %}" alt="Technicien"
                 style="width:60px; height:60px; margin-right:10px;">
          {% trans "Technicien" %}
      </h2>
        {% for field in form %}
            {% if "tech" in field.name %}
            <div class="mb-4">
                {% if field.field.widget.input_type == "checkbox" %}
                    <label class="inline-flex items-center gap-2">
                        {{ field|add_class:"form-checkbox h-5 w-5 text-green-600" }}
                        <span class="font-semibold text-gray-700">{{ field.label }}</span>
                    </label>
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1 ml-7">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1 ml-7">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% else %}
                    <label class="block font-semibold mb-1">{{ field.label }}</label>
                    {{ field|add_class:"input" }}
                    {% if field.help_text %}
                        <p class="text-gray-500 text-sm mt-1">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-600 text-sm mt-1">{{ field.errors|striptags }}</p>
                    {% endif %}
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}


        <br>



          <div class="flex gap-3 mt-6">
            <button type="submit"
                    class="flex-1 bg-blue-700 text-white px-5 py-3 rounded hover:bg-blue-500 font-semibold text-center">
                {% trans "Enregistrer" %}
            </button>
            <a href="{% url 'freins:freins_detail' frein_id=frein.id %}"
               class="flex-1 bg-gray-300 text-black px-5 py-3 rounded hover:bg-gray-400 font-semibold text-center">
               {% trans "Annuler" %}
            </a>
        </div>
    </form>

</div>

<style>
.input {
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 6px !important;
    padding: 8px !important;
    box-sizing: border-box !important;
}
</style>


<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie) {
        document.cookie.split(';').forEach(c => {
            c = c.trim();
            if (c.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(c.slice(name.length + 1));
            }
        });
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');


</script>
{% endblock %}