@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
body {
  background-color: theme('colors.blue.100');
}

/* Nettoyage classe inutile */
.hidden-dummy {
  @apply text-center text-gray-600;
}

/* PRINT */
@media print {

    @page {
        size: A4;
        margin: 15mm;
    }

    /* Cache tout */
    body * {
        visibility: hidden;
    }

    /* Affiche uniquement le contenu */
    .a4-container, .a4-container * {
        visibility: visible;
    }

    .a4-container, .a4-container * {
    display: block !important;
    }

    /* Positionnement */
    .a4-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 210mm;
        min-height: 297mm;
        padding: 10mm;
        background: white;
        font-size: 12px;
    }

    /* Tables OK */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }

    tr {
        page-break-inside: avoid;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 6px;
    }

    /* Cache bouton */
    .no-print {
        display: none !important;
    }
}