{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails de l'intervention carrosserie" %}{% endblock %}

{% block content %}
    {% url 'carrosserie_interne:modifier_carrosserie_interne' carrosserie_interne.pk as url_modifier %}
    {% url 'carrosserie_interne:carrosserie_interne_pdf' carrosserie_interne.pk as url_pdf %}
    {% url 'carrosserie_interne:delete_carrosserie_interne' carrosserie_interne.pk as url_delete %}
    {% if exemplaire %}{% url 'carrosserie_interne:carrosserie_interne_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails de l'intervention carrosserie" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=carrosserie_interne km_controle=carrosserie_interne.kilometrage_intervention icone="carrosserie.png" %}
{% endblock %}
