{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=electricite.nom_station|slugify %}
                <img src="{% static 'recharge'|add:image_name|add:'.png' %}"
                     alt="{{ electricite.nom_station }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/voyage.png' %}';">
            {% endwith %}
            <span>{% trans "Détails des recharges électriques : " %}</span>
                 {{ exemplaire.voiture_marque.nom_marque }}
                {{ exemplaire.voiture_modele.nom_modele }}
                {{ exemplaire.voiture_modele.nom_variante }}


        </h1>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Immatriculation" %} :</strong>
                     <div class="mb-4">
                    {% include "recharge/partials/plaque.html" %}
                    </div>
            </p>
            <p>
                <strong>{% trans "Kilomètres" %} :</strong>
                {{ electricite.kilometrage_electricite }}
            </p>
            <p>
                <strong>{% trans "Energie" %} :</strong>
                {{ electricite.get_type_carburant_display }}
            </p>
        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Remarques" %}
            </h2>

            <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ electricite.remarque }}
            </p>

        </div>
        <!-- Bouton Modifier / Statistiques côte à côte -->
        <div class="flex gap-4">
            <!-- Bouton Modifier (bleu) -->
            <a href="{% url 'recharge:modifier_electricite' electricite.id %}" class="flex-1">
                <button type="button" class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                    {% trans "Modifier la recharge" %}
                </button>
            </a>
        </div>
        <div>
             <!-- Bouton Statistiques (vert) -->
            <a href="{% url 'recharge:electricite_stat' %}" class="flex-1">
                <button type="button" class="w-full bg-green-600 text-white px-4 py-2 rounded hover:bg-green-500 font-semibold">
                    {% trans "Voir les statistiques" %}
                </button>
            </a>
        </div>
    </div>



    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ electricite.created_at|date:"d/m/Y H:i" }}
        </p>
          <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ electricite.updated_at|date:"d/m/Y H:i" }}
        </p>

    </div>


    <br>
    <!-- Actions -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        <div>
            <a href="{% url 'recharge:recharge_list' %}"
                   class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
                        {% trans "Retour à la liste des recharges" %}
                  </button>
            </a>



        </div>
    </div>

</div>
{% endblock %}
