{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
           <img src="{% static 'icons/adresse.png' %}" alt="client"
         style="width:60px; height:60px; margin-right:10px;">
            <span>{% trans "Détails de l'adresse :" %}</span>
            <span class="text-black-700">{{ adresse.rue}} {{ adresse.numero }} {{ adresse.code_postal}}</span>

        </h1>

        <a href="{% url 'adresse:adresse_list' %}"
           class="text-blue-600 hover:underline">
            ← {% trans "Retour à la liste des adresses" %}
        </a>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-6">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Rue" %} :</strong>
                {{ adresse.rue }}
            </p>

            <p>
                <strong>{% trans "Numéro" %} :</strong>
                {{ adresse.numero }}
            </p>
             <p>
                <strong>{% trans "Boite" %} :</strong>
                {{ adresse.boite }}
            </p>

            <p>
                <strong>{% trans "Code Postal" %} :</strong>
                {{ adresse.code_postal }}
            </p>


            <p>
                <strong>{% trans "Ville" %} :</strong>
                {{ adresse.ville }}
            </p>

            <p>
                <strong>{% trans "Pays" %} :</strong>
                {{ adresse.pays }}
            </p>

            <p>
                <strong>{% trans "Code pays" %} :</strong>
                {{ adresse.code_pays }}
            </p>




           <div class="mt-auto w-full">
                <a href="{% url 'adresse:modifier_adresse' adresse.id %}" class="block w-full">
                    <button type="button"
                            class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier l'adresse" %}
                    </button>
                </a>
           </div>

        </div>


    </div>


    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ client.created_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <!-- Actions -->
    <div class="bg-white shadow-md rounded-lg p-6 flex gap-4">
        <a href="{% url 'adresse:adresse_list' %}" class="flex-1">
              <button type="button" class="bg-blue-700 text-white px-4 py-2 rounded w-full mt-4">
                    {% trans "Retour à la liste des adresses" %}
              </button>
        </a>
    </div>

</div>
{% endblock %}
