{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'admission" %}{% endblock %}

{% block content %}
    {% url 'admission:modifier_admission' admission.pk as url_modifier %}
    {% url 'admission:admission_detail_pdf' admission.pk as url_pdf %}
    {% url 'admission:delete_admission' admission.pk as url_delete %}
    {% if exemplaire %}{% url 'admission:admission_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'admission" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=admission km_controle=admission.kilometrage_admission icone="admission.png" %}
{% endblock %}
