{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du remplacement de l'embrayage" %}{% endblock %}

{% block content %}
    {% url 'embrayage:modifier_embrayage' embrayage.pk as url_modifier %}
    {% url 'embrayage:embrayage_detail_pdf' embrayage.pk as url_pdf %}
    {% url 'embrayage:delete_embrayage' embrayage.pk as url_delete %}
    {% if exemplaire %}{% url 'embrayage:embrayage_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du remplacement de l'embrayage" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=embrayage km_controle=embrayage.kilometrage_embrayage icone="disque-dembrayage.png" %}
{% endblock %}
