{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ boite.nom_du_type }} - {{ boite.type_de_boite }}{% endblock %}


{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=boite.fabricant|slugify %}
                <img src="{% static 'boite/'|add:image_name|add:'.png' %}"
                     alt="{{ boite.fabricant }}"
                      class="w-[65px] h-[65px] object-contain"
                     onerror="this.src='{% static 'icons/boite-de-vitesse.png' %}';">
            {% endwith %}
            <span>{% trans "Détails de la boite de vitesses :" %}</span>

           <span class="text-black-700">{{ boite.fabricant }} {{ boite.nom_du_type }}</span>
        </h1>


    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Fabricant" %} :</strong>
                {{ boite.fabricant }}
            </p>
            <p>
                <strong>{% trans "Nom du modèle" %} :</strong>
                {{ boite.nom_du_type }}
            </p>
            <p>
                <strong>{% trans "Type de boite" %} :</strong>
                {{ boite.get_type_de_boite_display }}
            </p>
            <p>
                <strong>{% trans "N° OEM" %} :</strong>
                {{ boite.oem }}
            </p>





           <div class="mt-auto w-full">
                <a href="{% url 'voiture_boite:modifier_boite' boite.id %}" class="block w-full">
                    <button type="button"
                            class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier la boite de vitesse" %}
                    </button>
                </a>
           </div>

        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Autres informations" %}
            </h2>

            <p>
                <strong>{% trans "Quantité d'huile" %} :</strong><br>
                {{ boite.quantite_huile_l }}
            </p>

            <br>
              <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ boite.remarques }}
            </p>


        </div>
    </div>



    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ boite.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ boite.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>



    <br>
    <div>
        <a href="{% url 'voiture_boite:list' %}"
            class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour a la liste des boites de vitesses" %}
        </a>
    </div>
</div>
{% endblock %}
