{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ embrayage.fabricant }} - {{ embrayage.type_embrayage }}{% endblock %}


{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=moteur.motoriste|slugify %}
                <img src="{% static 'moteur/'|add:image_name|add:'.png' %}"
                     alt="{{ moteur.motoriste }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/engine.png' %}';">
            {% endwith %}
            <span>{% trans "Détails du moteur :" %}</span>

           <span class="text-black-700">{{ moteur.motoriste }} </span>
        </h1>


    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Motoriste" %} :</strong>
                {{ moteur.motoriste }}
            </p>
            <p>
                <strong>{% trans "Code Moteur" %} :</strong>
                {{ moteur.code_moteur }}
            </p>
            <p>
                <strong>{% trans "Type de moteur" %} :</strong>
                {{ moteur.get_type_moteur_display }}
            </p>
              <p>
                <strong>{% trans "Carburant" %} :</strong>
                {{ moteur.get_carburant_display }}
            </p>
            <p>
                <strong>{% trans "Cylindrée" %} :</strong>
                {{ moteur.cylindree_l }}
            </p>





           <div class="mt-auto w-full">
                <a href="{% url 'voiture_moteur:modifier_moteur' moteur.id %}" class="block w-full">
                    <button type="button"
                            class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier le moteur" %}
                    </button>
                </a>
           </div>

        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Autres informations" %}
            </h2>

              <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ moteur.remarques }}
            </p>


        </div>
    </div>



    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ moteur.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ moteur.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>


    <br>
    <div>
        <a href="{% url 'voiture_moteur:list' %}"
            class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour a la liste des moteurs" %}
        </a>
    </div>
</div>
{% endblock %}
