{% extends "base.html" %}
{% load i18n static format_numbers %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
           <img src="{% static 'icons/pilote.png' %}" alt="pilote"
         style="width:60px; height:60px; margin-right:10px;">
            <span>{% trans "Détails du pilote :" %}</span>
            <span class="text-black-700">{{ client_pilotage.client_particulier.prenom}} {{ client_pilotage.client_particulier.nom }}</span>

        </h1>
    </div>
<!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded border
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border-green-300
            {% else %}
                bg-red-100 text-red-800 border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}


    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-6">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Email" %} :</strong>
                {{ client_pilotage.client_particulier.email }}
            </p>

            <p>
                <strong>{% trans "Numéro de téléphone" %} :</strong>
                {{ client_pilotage.client_particulier.numero_telephone }}
            </p>

            <p>
                <strong>{% trans "Date de naissance" %} :</strong>
                {{ client_pilotage.client_particulier.date_naissance }}
            </p>


            <p>
                <strong>{% trans "Numéro de compte" %} :</strong>
                {{ client_pilotage.client_particulier.numero_compte|format_iban }}
            </p>

            <p>
                <strong>{% trans "Numéro de carte bancaire" %} :</strong>
                {{ client_pilotage.client_particulier.numero_carte_bancaire|format_card }}
            </p>

            <p>
                <strong>{% trans "Numéro de carte d'identité" %} :</strong>
                {{ client_pilotage.client_particulier.numero_carte_id }}
            </p>

             <p>
                <strong>{% trans "Numéro de permis" %} :</strong>
                {{ client_pilotage.client_particulier.numero_permis }}
            </p>
        </div>

        <!-- remarques historique  -->
        <div class="bg-white shadow-md rounded-lg p-6">

            <p>
                <strong>{% trans "Niveau de pilotage" %} :</strong><br>
                {{ client_pilotage.get_niveau_display }}
            </p>
            <br>
             <p>
                <strong>{% trans "Historique" %} :</strong><br>
                {{ client_pilotage.historique }}
            </p>
            <br>
             <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ client_pilotage.remarques }}
            </p>

        </div>
        <div class="mt-auto w-full">
            <a href="{% url 'client_pilotage:modifier_client_pilotage' client_pilotage.id %}" class="block w-full">
                <button type="button"
                        class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                    {% trans "Modifier le pilote" %}
                </button>
            </a>
        </div>
    </div>

       <!-- Adresse -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Adresse" %}
        </h2>

       {% if client_pilotage.adresse %}
        <p>
            {{ client_pilotage.adresse.rue|default_if_none:"" }} {{ client_pilotage.adresse.numero|default_if_none:"" }}<br>
            {{ client_pilotage.adresse.code_postal|default_if_none:"" }} {{ client_pilotage.adresse.ville|default_if_none:"" }}<br>
            {{ client_pilotage.adresse.pays|default_if_none:"" }}
        </p>
        {% else %}
            <p class="text-gray-500">
                {% trans "Aucune adresse renseignée." %}
            </p>
        {% endif %}
    </div>


    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ client_pilotage.client_particulier.created_at|date:"d/m/Y H:i" }}
        </p>
         <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ client_pilotage.client_particulier.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <br>



    <div>
        <a href="{% url 'client_pilotage:client_pilotage_list' %}"
            class="block w-full bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour à la liste des pilotes" %}
        </a>
    </div>

</div>


{% endblock %}