{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold flex items-center gap-4">
            <span>{% trans "Détails du véhicule : " %}</span>

            {% if exemplaire.pays == 'Belgique' %}
            <div class="flex items-center w-[40%] min-w-[180px] h-[40px] bg-white border-2 border-[#8B0000] rounded font-[Arial] mb-4">
                <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[18px] leading-none">
                    <span>🇪🇺</span>
                    <span>B</span>
                </div>
                <input type="text"
                       value="{{ exemplaire.immatriculation }}"
                       oninput="this.value = this.value.toUpperCase();"
                       class="w-full text-center border-none font-bold text-[#8B0000] text-[clamp(16px,4vw,24px)] bg-transparent outline-none p-0 m-0">
            </div>

            {% elif exemplaire.pays == 'Luxembourg' %}
            <div class="flex items-center w-[40%] min-w-[180px] h-[40px] bg-[#FFEB3B] border-2 border-black rounded font-[Arial] mb-4">
                <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[18px] leading-none">
                    <span>🇪🇺</span>
                    <span>L</span>
                </div>
                <input type="text"
                       value="{{ exemplaire.immatriculation }}"
                       oninput="this.value = this.value.toUpperCase();"
                       class="w-full text-center border-none font-bold text-black text-[clamp(16px,4vw,24px)] bg-transparent outline-none p-0 m-0">
            </div>
            {% endif %}

        </h1>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">{% trans "Informations générales" %}</h2>
            <p><strong>{% trans "Année de production" %}:</strong> {{ exemplaire.annee_production }}/{{ exemplaire.mois_production }}</p>
            <p><strong>{% trans "Kilométrage" %}:</strong> {{ exemplaire.kilometres_total }} km</p>
            <p><strong>{% trans "Couleur" %}:</strong> {{ exemplaire.couleur|default:_("Non renseignée") }}</p>

            <div class="mt-auto w-full">
                <a href="{% url 'voiture_exemplaire:modifier_exemplaire' exemplaire_id=exemplaire.id %}" class="block w-full">
                    <button type="button" class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier" %}
                    </button>
                </a>
            </div>
        </div>


        <div class="bg-white shadow-md rounded-lg p-6">

            <!-- Moteurs -->
            <h2 class="text-lg font-semibold mb-4">{% trans "Moteurs" %}</h2>
            {% if exemplaire.moteurs.exists %}
            <ul class="space-y-2">
                {% for moteur in exemplaire.moteurs.all %}
                <li class="border p-3 rounded-md hover:bg-gray-50">
                    {{ moteur.get_type_moteur_display }} - {{ moteur.cylindree_l }}L
                    <span class="text-gray-500">({{ moteur.puissance_ch }} ch)</span>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-500">{% trans "Aucun moteur enregistré pour cet exemplaire." %}</p>
            {% endif %}

            <h2 class="text-lg font-semibold mb-4">{% trans "Boite de vitesse" %}</h2>
            {% if exemplaire.boites.exists %}
            <ul class="space-y-2">
                {% for boite in exemplaire.boites.all %}
                <li class="border p-3 rounded-md hover:bg-gray-50">
                    {{ moteur.get_type_de_boite_display }} - {{ boite.nom_du_type }}L
                    <span class="text-gray-500">({{ moteur.fabricant }} ch)</span>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-500">{% trans "Aucune boite enregistrée pour cet exemplaire." %}</p>
            {% endif %}


        </div>
    </div>

    <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}


    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <div class="mt-4">
            <a href="{% url 'voiture_exemplaire:lier_boite_exemplaire' exemplaire_id=exemplaire.id %}">
                <button type="button"class="mt-4 px-4 py-2 bg-blue-700 text-white rounded hover:bg-blue-400">
                    {% trans "Lier une boîte" %}
                </button>
            </a>
        </div>
    </div>
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <div class="mt-4">
            <a href="{% url 'voiture_exemplaire:lier_moteur_exemplaire' exemplaire_id=exemplaire.id %}">
                <button type="button"class="mt-4 px-4 py-2 bg-blue-700 text-white rounded hover:bg-blue-400">
                    {% trans "Lier un moteur" %}
                </button>
            </a>
        </div>
    </div>
</div>
