{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-4">{% trans "Modifier le véhicule" %} :</h1>

    <!-- Plaque Belgique -->
        {% if exemplaire.pays == 'Belgique' %}
        <div class="flex items-center w-[40%] min-w-[180px] h-[40px] bg-white border-2 border-[#8B0000] rounded font-[Arial] mb-4">
            <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[18px] leading-none">
                <span>🇪🇺</span>
                <span>B</span>
            </div>
            <input
                type="text"
                value="{{ exemplaire.immatriculation }}"
                oninput="this.value = this.value.toUpperCase();"
                class="w-full text-center border-none font-bold text-[#8B0000] text-[clamp(16px,4vw,24px)] bg-transparent outline-none p-0 m-0"
            >
        </div>

        {% elif exemplaire.pays == 'Luxembourg' %}
        <div class="flex items-center w-[40%] min-w-[180px] h-[40px] bg-[#FFEB3B] border-2 border-black rounded font-[Arial] mb-4">
            <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[18px] leading-none">
                <span>🇪🇺</span>
                <span>L</span>
            </div>
            <input
                type="text"
                value="{{ exemplaire.immatriculation }}"
                oninput="this.value = this.value.toUpperCase();"
                class="w-full text-center border-none font-bold text-black text-[clamp(16px,4vw,24px)] bg-transparent outline-none p-0 m-0"
            >
        </div>
        {% endif %}


    <!-- Formulaire de modification -->
    <form method="post" class="mt-6">
        {% csrf_token %}

        {% for field in form %}
            <label class="font-semibold">{{ field.label }}</label>
            {{ field|add_class:"input" }}
            {% if field.help_text %}
                <small class="text-gray-500">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
                <div class="text-red-600 text-sm mb-2">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400">
            {% trans "Enregistrer les modifications" %}
        </button>
        <a href="{% url 'voiture_exemplaire:voiture_exemplaire_detail' exemplaire_id=exemplaire.id %}"
           class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400 ml-2">
            {% trans "Annuler" %}
        </a>
    </form>
</div>

<style>
.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
}
</style>

{% endblock %}
