{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du rodage" %}{% endblock %}

{% block content %}
    {% url 'rodage:modifier_rodage' rodage.pk as url_modifier %}
    {% url 'rodage:rodage_pdf' rodage.pk as url_pdf %}
    {% url 'rodage:delete_rodage' rodage.pk as url_delete %}
    {% if exemplaire %}{% url 'rodage:rodage_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du rodage" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=rodage km_controle=rodage.kilometres_rodage icone="rodage.png" %}
{% endblock %}
