{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du checkup" %}{% endblock %}

{% block content %}
    {% url 'check_up:modifier_checkup' checkup.pk as url_modifier %}
    {% url 'check_up:checkup_detail_pdf' checkup.pk as url_pdf %}
    {% url 'check_up:delete_checkup' checkup.pk as url_delete %}
    {% if exemplaire %}{% url 'check_up:checkup_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du checkup" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=checkup km_controle=checkup.kilometrage_checkup icone="checkup.png" %}
{% endblock %}
