{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow mt-16 mb-16">

    <h1 class="text-2xl font-bold mb-4 text-center flex items-center justify-center">
        <img src="{% static 'icons/disque-dembrayage.png' %}" alt="embrayage" style="width:60px; height:60px; margin-right:10px;">
        {% trans "Ajouter un embrayage" %}
    </h1>

     {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <form method="post" class="flex flex-col space-y-4">
        {% csrf_token %}

        <div>
            <label for="id_fabricant">{% trans "Fabricant" %}</label>
            <input type="text" id="id_fabricant" name="fabricant" class="border rounded px-4 py-2 w-full">
        </div>

        <div class="mb-4">
            <label for="id_type_embrayage" class="block mb-1">{% trans "Type d'embrayage" %}</label>
            <select id="id_type_embrayage" name="type_embrayage"
                    class="border rounded px-3 py-2 w-full text-sm h-10">
                <option value="">{% trans "Sélectionner un type" %}</option>
                {% for value, label in TypeEmbrayage.choices %}
                    <option value="{{ value }}" {% if embrayage.type_embrayage == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="id_volant_moteur" class="block mb-1">{% trans "Type de volant moteur" %}</label>
            <select id="id_volant_moteur" name="volant_moteur"
                    class="border rounded px-3 py-2 w-full text-sm h-10">
                <option value="">{% trans "Sélectionner un type" %}</option>
                {% for value, label in TypeVolantMoteur.choices %}
                    <option value="{{ value }}" {% if embrayage.volant_moteur == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-4">
            <label for="id_plateau_pression" class="block mb-1">{% trans "Type de plateau de pression" %}</label>
            <select id="id_plateau_pression" name="plateau_pressionr"
                    class="border rounded px-3 py-2 w-full text-sm h-10">
                <option value="">{% trans "Sélectionner un type" %}</option>
                {% for value, label in TypePlateauPression.choices %}
                    <option value="{{ value }}" {% if embrayage.plateau_pression == value %}selected{% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="id_oem">{% trans "Numero OEM" %}</label>
            <input type="text" id="id_oem" name="oem" class="border rounded px-4 py-2 w-full">
        </div>
        <div>
            <label for="id_kilometrage_embrayage">{% trans "Kilometrage" %}</label>
            <input type="text" id="id_kilometrage_embrayage" name="kilometrage_embrayage" class="border rounded px-4 py-2 w-full">
        </div>
        <div>
            <label for="id_numero_embrayage">{% trans "Numero" %}</label>
            <input type="text" id="id_numero_embrayage" name="numero_embrayage" class="border rounded px-4 py-2 w-full">
        </div>
        <div>
            <label for="id_date_creation">{% trans "Date de création" %}</label>
            <input type="text" id="id_date_creation" name="date_creation" class="border rounded px-4 py-2 w-full">
        </div>



        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded w-full">
            {% trans "Ajouter" %}
        </button>
    </form>
</div>

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie) {
        document.cookie.split(';').forEach(c => {
            c = c.trim();
            if (c.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(c.slice(name.length + 1));
            }
        });
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

document.getElementById('id_fabricant').addEventListener('change', function(){
    const fabricant = this.value;

    fetch('/api/check_nom', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ fabricant: fabricant })
    })
    .then(r => r.json())
    .then(data => {
        if (data.exist) {
            document.getElementById('id_fabricant').value = data.fabricant;
            document.getElementById('id_type_embrayage').value = data.nom_du_type;

        } else {
            document.getElementById('id_nom_du_type').value = '';
            document.getElementById('id_type_embrayage').value = '';

        }
    })
    .catch(err => console.error("Erreur:", err));
});
</script>
{% endblock %}
