{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ embrayage.fabricant }} - {{ embrayage.type_embrayage }}{% endblock %}


{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=embrayage.fabricant|slugify %}
                <img src="{% static 'embrayage/'|add:image_name|add:'.png' %}"
                     alt="{{ embrayage.fabricant }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/disque-dembrayage.png' %}';">
            {% endwith %}
            <span>{% trans "Détails de l'embrayage :" %}</span>

           <span class="text-black-700">{{ embrayage.fabricant }} {{ embrayage.get_type_embrayage_display }}</span>
        </h1>


    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Fabricant" %} :</strong>
                {{ embrayage.fabricant }}
            </p>
            <p>
                <strong>{% trans "Type d'embrayage" %} :</strong>
                {{ embrayage.get_type_embrayage_display }}
            </p>
            <p>
                <strong>{% trans "Volant Moteur" %} :</strong>
                {{ embrayage.get_volant_moteur_display }}
            </p>
              <p>
                <strong>{% trans "Plateau de pression" %} :</strong>
                {{ embrayage.get_plateau_pression_display }}
            </p>
            <p>
                <strong>{% trans "N° OEM" %} :</strong>
                {{ embrayage.oem }}
            </p>
        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Autres informations" %}
            </h2>

              <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ embrayage.remarques }}
            </p>


        </div>

         <div class="mt-auto w-full">
                <a href="{% url 'voiture_embrayage:modifier_embrayage' embrayage.id %}" class="block w-full">
                    <button type="button"
                            class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier l'embrayage" %}
                    </button>
                </a>
         </div>
    </div>



    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ embrayage.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ embrayage.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>
    <br>
    <div>
        <a href="{% url 'voiture_embrayage:list' %}"
            class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour a la liste des embrayages" %}
        </a>
    </div>
</div>

{% endblock %}
