{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'éclairage" %}{% endblock %}

{% block content %}
    {% url 'eclairage:modifier_eclairage' eclairage.pk as url_modifier %}
    {% url 'eclairage:eclairage_detail_pdf' eclairage.pk as url_pdf %}
    {% url 'eclairage:delete_eclairage' eclairage.pk as url_delete %}
    {% if exemplaire %}{% url 'eclairage:eclairage_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'éclairage" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=eclairage km_controle=eclairage.kilometrage_eclairage icone="phares.png" %}
{% endblock %}
