{% extends 'base.html' %}
{% load i18n static widget_tweaks %}
{% block title %}{% trans "Tableau de bord" %}{% endblock %}
{% block content %}


<h1 class="text-2xl font-bold mb-6">{% trans "Bienvenue sur le tableau de bord" %}</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">


<!-- Carte Freins avant -->
  <a href="{% url 'voiture_freins_av:freins_av_list' %}"
     class="flex items-center justify-between bg-white shadow-md rounded-lg p-6 transition duration-300 hover:shadow-lg hover:bg-blue-50">
    <div>
      <h2 class="text-lg font-semibold mb-1">{% trans "Freins avant" %}</h2>
      <p class="text-gray-600 text-sm">
        {% trans "Nombre total :" %} <span class="font-bold">{{ total_freins }}</span>
      </p>
    </div>
    <img src="{% static 'icons/disque-de-frein.png' %}" alt="Freins" style="width:60px; height:60px;">
  </a>

  <!-- Carte Freins arrière -->
  <a href="{% url 'voiture_freins_ar:freins_ar_list' %}"
     class="flex items-center justify-between bg-white shadow-md rounded-lg p-6 transition duration-300 hover:shadow-lg hover:bg-blue-50">
    <div>
      <h2 class="text-lg font-semibold mb-1">{% trans "Freins arrière" %}</h2>
      <p class="text-gray-600 text-sm">
        {% trans "Nombre total :" %} <span class="font-bold">{{ total_freins_ar }}</span>
      </p>
    </div>
    <img src="{% static 'icons/disque-de-frein.png' %}" alt="Freins arrières" style="width:60px; height:60px;">
  </a>

</div>
<br>
<br>
<br>

<div>
    <a href="{% url 'utilisateurs:dashboard' %}"
       class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
        {% trans "Retour au tableau de bord" %}
    </a>
</div>
{% endblock %}