{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du checkup piste" %}{% endblock %}

{% block content %}
    {% url 'checkup_track:modifier_checkup_track' checkup_track.pk as url_modifier %}
    {% url 'checkup_track:checkup_track_detail_pdf' checkup_track.pk as url_pdf %}
    {% url 'checkup_track:delete_checkup_track' checkup_track.pk as url_delete %}
    {% if exemplaire %}{% url 'checkup_track:checkup_track_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du checkup piste" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=checkup_track km_controle=checkup_track.kilometrage_checkup_track icone="checkup_track.png" %}
{% endblock %}
