{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle des pneus" %}{% endblock %}

{% block content %}
    {% url 'pneus:modifier_pneus' pneus.pk as url_modifier %}
    {% url 'pneus:controle_pneus_pdf' pneus.pk as url_pdf %}
    {% url 'pneus:delete_pneus' pneus.pk as url_delete %}
    {% if exemplaire %}{% url 'pneus:pneus_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle des pneus" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=pneus km_controle=pneus.kilometrage_pneus icone="pneus.png" %}
{% endblock %}
