{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<div class="mx-4 sm:mx-6 lg:mx-8 p-6 w-full">

    <h1 class="text-2xl font-bold mb-6">{% trans "Modèles de" %} {{ marque.nom_marque }}</h1>

    <!-- Champ de recherche -->
    <div class="mb-4">
        <input type="text" id="search-modele" placeholder="{% trans 'Rechercher un modèle...' %}"
               class="border rounded p-2 w-full md:w-1/2">
    </div>

    {% if modeles %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6" id="modeles-container">

            {% for modele in modeles %}
            <div class="bg-white shadow-md hover:shadow-lg transition rounded-lg p-6 flex items-center gap-6 cursor-pointer w-full marque-card"
                 data-modele-nom="{{ modele.nom_modele }}"
                onclick="window.location.href='{% url 'voiture_exemplaire:voiture_exemplaire' modele_id=modele.id %}'">

                <div class="flex-1">
                    <h2 class="text-lg font-semibold">{{ modele.nom_modele }}</h2>
                    {% if modele.nom_variante %}
                        <p class="text-gray-600">{{ modele.nom_variante }}</p>
                    {% endif %}
                    <p class="text-gray-500">
                        {{ modele.nombre_portes }} {% trans "portes" %}, {{ modele.nbre_places }} {% trans "places" %}
                    </p>
                </div>

                <!-- Optionnel : petite image ou icône du modèle -->
                <div class="flex-shrink-0">
                    <img src="{% static 'images/modele/default.png' %}"
                         class="w-[65px] h-[65px] object-contain">
                </div>

            </div>
            {% endfor %}

        </div>
    {% else %}
        <p class="text-red-600 font-semibold mt-4">
            {% trans "Aucun modèle enregistré pour cette marque." %}
        </p>
    {% endif %}

</div>



{% endblock %}
