{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails de la géométrie" %}{% endblock %}

{% block content %}
    {% url 'geometrie:geometrie_modifier' geometrie.pk as url_modifier %}
    {% url 'geometrie:geometrie_detail_pdf' geometrie.pk as url_pdf %}
    {% url 'geometrie:delete_geometrie' geometrie.pk as url_delete %}
    {% if exemplaire %}{% url 'geometrie:geometrie_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails de la géométrie" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=geometrie km_controle=geometrie.kilometrage_geometrie icone="geometrie.png" %}
{% endblock %}
