{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de la courroie de distribution" %}{% endblock %}

{% block content %}
    {% url 'courroie:modifier_courroie' courroie.pk as url_modifier %}
    {% url 'courroie:courroie_detail_pdf' courroie.pk as url_pdf %}
    {% url 'courroie:delete_courroie' courroie.pk as url_delete %}
    {% if exemplaire %}{% url 'courroie:courroie_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de la courroie de distribution" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=courroie km_controle=courroie.kilometrage_cour icone="courroie-de-distribution.png" %}
{% endblock %}
