{% extends "base.html" %}
{% load i18n static widget_tweaks %}

{% block title %}{{ pneus.manufacturier }} {% endblock %}


{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            <span>{% trans "Détails du Pneu :" %}</span>

            {% with image_name=pneus.manufacturier|slugify %}
                 <img
                    src="{% static 'images/'|add:pneus.manufacturier|lower|add:'.png' %}"
                    alt="{{ pneus.manufacturier }}"
                    style="width:150px; height:50px; object-fit:contain;"
                    onerror="this.onerror=null; this.outerHTML='{{ pneus.manufacturier }}';"
                 >
            {% endwith %}
        </h1>


    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

            <p>
                <strong>{% trans "Manufacturier" %} :</strong>
                {{ pneus.manufacturier }}
            </p>
            <p>
                <strong>{% trans "Type" %} :</strong>
                {{ pneus.get_type_pneus_display }}
            </p>
            <p>
                <strong>{% trans "Nom du pneus" %} :</strong>
                {{ pneus.nom_type }}
            </p>
             <p>
                <strong>{% trans "Taille" %} :</strong>
                {{ pneus.pneus_largeur }} {{ pneus.pneus_hauteur }} {{ pneus.pneus_jante }}
            </p>
              <p>
                <strong>{% trans "N° OEM" %} :</strong>
                {{ pneus.numero_oem }}
            </p>
        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Autres informations" %}
            </h2>

              <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ pneus.remarques }}
            </p>


        </div>
         <div class="mt-auto w-full">
             <a href="{% url 'voiture_pneus:modifier_pneus' pneus.id %}" class="block w-full">
                 <button type="button"
                         class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                     {% trans "Modifier le pneus" %}
                 </button>
             </a>
         </div>
    </div>



    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ pneus.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ pneus.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>


    <br>
    <div>
        <a href="{% url 'voiture_pneus:list' %}"
            class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour a la liste des pneus" %}
        </a>
    </div>
</div>
{% endblock %}
