{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<br>
<div class="max-w-xl mx-auto p-6 bg-white rounded shadow">
    <h1 class="text-2xl font-bold mb-4">{% trans "Créer un utilisateur" %}</h1>

     <!-- Messages -->
    {% if messages %}
        {% for message in messages %}
        <div class="mb-3 px-4 py-2 rounded
            {% if message.tags == 'success' %}
                bg-green-100 text-green-800 border border-green-300
            {% else %}
                bg-red-100 text-red-800 border border-red-300
            {% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% if form.errors %}
        <div style="background-color: #fee2e2; color: #991b1b; border: 1px solid #fca5a5; padding: 10px; border-radius: 6px;">
            <strong>Erreurs :</strong>
            <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }} : {{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}


    <form method="post">
    {% csrf_token %}

        <div class="mb-4">
            {{ form.nom.label_tag }}
            {% render_field form.nom class="input" placeholder='Nom de l’utilisateur' %}
        </div>

        <div class="mb-4">
            {{ form.prenom.label_tag }}
            {% render_field form.prenom class="input" placeholder="Prénom" %}
        </div>

        <div class="mb-4">
            {{ form.email_google.label_tag }}
            {% render_field form.email_google class="input" placeholder="Email Google" %}
        </div>

        <div class="mb-4">
            {{ form.email_entreprise.label_tag }}
            {% render_field form.email_entreprise class="input" placeholder="Email entreprise" %}
        </div>

        <div class="mb-4">
            {{ form.telephone.label_tag }}
            {% render_field form.telephone class="input" placeholder="Téléphone" %}
        </div>

        <div class="mb-4">
            {{ form.date_naissance.label_tag }}
            {% render_field form.date_naissance class="input" %}
        </div>

        <div class="mb-4">
            {{ form.role.label_tag }}
            {% render_field form.role class="input" %}
        </div>

        <div class="mb-4">
            {{ form.password.label_tag }}
            {% render_field form.password class="input" placeholder="Mot de passe" %}
        </div>

        <div class="mb-4">
            {{ form.schema_name.label_tag }}
            {% render_field form.schema_name class="input" placeholder="Nom du schéma (societe)" %}
        </div>

        <div class="mb-4">
            {{ form.societe.label_tag }}
            {% render_field form.societe class="input" placeholder="Nom de la société" %}
        </div>

        <h3 class="font-bold mt-6 mb-4">Adresse</h3>

        <div class="mb-4">
            {{ form.rue.label_tag }}
            {% render_field form.rue class="input" placeholder="Rue" %}
        </div>

        <div class="mb-4">
            {{ form.numero.label_tag }}
            {% render_field form.numero class="input" placeholder="Numéro" %}
        </div>

        <div class="mb-4">
            {{ form.code_postal.label_tag }}
            {% render_field form.code_postal class="input" placeholder="Code postal" %}
        </div>

        <div class="mb-4">
            {{ form.ville.label_tag }}
            {% render_field form.ville class="input" placeholder="Ville" %}
        </div>

        <div class="mb-4">
            {{ form.pays.label_tag }}
            {% render_field form.pays class="input" placeholder="Pays" %}
        </div>


         <div class="flex gap-3 mt-6">
                <button type="submit"
                        class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
                    {% trans "Enregistrer" %}
                </button>

               <a href="{% url 'utilisateurs:dashboard' %}"
                   class="flex-1 bg-gray-300 text-black px-5 py-4 rounded hover:bg-gray-400 font-semibold text-center">
                    {% trans "Annuler" %}
                </a>

          </div>

        <!-- Date -->
        <p class="text-sm text-gray-500 mt-4">
            {% trans "Date actuelle" %} : {{ now|date:"Y-m-d H:i" }}
        </p>
    </form>
</div>

<style>
.input{
    width:100%;
    border:1px solid #ccc;
    border-radius:6px;
    padding:8px;
    margin-bottom:10px;
}
</style>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    document.getElementById('id_nom').addEventListener('change', function(){
        const nom = this.value;
        fetch('/api/check_nom', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({nom: nom})
        })
            .then(response => response.json())
            .then(data => {
                if (data.exist) {
                    document.getElementById('id_nom').value = data.nom;
                    document.getElementById('id_prenom').value = data.prenom;
                    document.getElementById('id_email_google').value = data.email_google;
                    document.getElementById('id_email_entreprise').value = data.email_entreprise;
                    document.getElementById('id_telephone').value = data.telephone;
                    document.getElementById('id_date_naissance').value = data.date_naissance;


                } else {
                    document.getElementById('id_nom').value = '';
                    document.getElementById('id_prenom').value = '';
                    document.getElementById('id_email_google').value = '';
                    document.getElementById('id_email_entreprise').value = '';
                    document.getElementById('id_telephone').value = '';
                    document.getElementById('id_date_naissance').value = '';
                }
            }).catch(error => {
                console.error('Erreur:',  error);
        });
    });
</script>

{% endblock %}