{% extends "base.html" %}
{% load static i18n widget_tweaks %}

{% block title %}Accueil{% endblock %}

{% block body_class %}bg-pastelblue min-h-screen flex flex-col{% endblock %}

{% block header %}{% endblock %}


{% block main_class %}flex-1{% endblock %}

{% block footer %}{% endblock %}

{% block content %}

     <div>
           <img src="{% static 'CarsCosts/CarsCostsTitre.png' %}"
              alt="CarsCostsTitre"
              class="mx-auto h-auto"
              style="width:70%;">
     </div>


<!-- HERO -->
<div class="relative w-full min-h-[70vh] flex flex-col items-center justify-start text-center pt-32">



    <!-- LOGO visible en background (taille adaptée) -->
    <div class="w-40 h-40 bg-center bg-no-repeat bg-contain"
         style="background-image: url('{% static "images/CarsCostsLogo.png" %}');">
    </div>




    <!-- TEXTE SOUS LE LOGO -->
    <div class="mt-8 px-6">
        <h1 class="text-4xl font-bold text-black">
            {% trans "Bienvenue" %}
        </h1>

        <p class="mt-4 text-lg text-black">
            {% trans "Ceci est un paragraphe stylé avec Tailwind." %}
        </p>

        <a href="{% url 'utilisateurs:login' %}"
           class="inline-block mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-md">
            {% trans "Se connecter" %}
        </a>
    </div>
    <div>
        <br>
        <br>
    </div>
    <br>
    <br>


{% endblock %}


