{% extends 'base.html' %}
{% load i18n static widget_tweaks %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
<h1>Remplacer les pneus</h1>

<p><strong>Véhicule :</strong> {{ pneus.voiture_exemplaire }}</p>
<p><strong>Monte actuelle :</strong> {{ pneus.get_type_pneus_display }}</p>
<p><strong>Kilométrage :</strong> {{ pneus.kilometre_pneus }} km</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="default" value="Remplacer">
</form>

<a href="../change/">⬅ Retour</a>
{% endblock %}
