{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle des niveaux" %}{% endblock %}

{% block content %}
    {% url 'niveaux:modifier_niveaux' niveau.pk as url_modifier %}
    {% url 'niveaux:niveau_pdf' niveau.pk as url_pdf %}
    {% url 'niveaux:delete_niveau' niveau.pk as url_delete %}
    {% if exemplaire %}{% url 'niveaux:niveaux_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle des niveaux" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=niveau km_controle=niveau.kilometrage_niveaux icone="niveaux.png" infos_template="niveaux/partials/niveaux_infos.html" %}
{% endblock %}
