{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold flex items-center gap-4">
            <img src="{% static 'icons/niveaux.png' %}"
                 alt="{{ niveaux.voiture_exemplaire.immatriculation }}"
                 class="w-12 h-12">
            <span>{% trans "Détails du contrôle des Niveaux" %}</span>
        </h1>

    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">{% trans "Informations générales" %}</h2>

            <p><strong>{% trans "Immatriculation" %} :</strong>
                 <div class="mb-4">
                    {% include "fuel/partials/plaque.html" %}
                </div>
            </p>
            <p><strong>{% trans "Kilométrage" %} :</strong> {{ niveau.kilometres_chassis }}</p>
            <p><strong>{% trans "Tag" %} :</strong> {{ niveau.get_tag_display }}</p>
            <p><strong>{% trans "Technicien" %} :</strong> {{ niveau.tech_nom_technicien }} {{ niveau.tech_role_technicien }}</p>
        </div>

        <!-- Maintenance / Niveaux -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">{% trans "Niveaux" %}</h2>
             <p><strong>{% trans "Ajout d'huile moteur" %} :</strong>
                 <span class="{% if niveau.moteur_niveau_huile_quantite > 0 %}text-green-600{% endif %}">
                    {{ niveau.moteur_niveau_huile_quantite }}
                </span>
             </p>
            <p>
                <strong>{% trans "Ajout d'huile boite" %} :</strong>
                <span class="{% if niveau.boite_niveau_huile_quantite > 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ niveau.boite_niveau_huile_quantite }}
                </span>
            </p>

            <p>
                <strong>{% trans "Ajout d'huile pont" %} :</strong>
                <span class="{% if niveau.pont_niveau_huile_quantite > 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ niveau.pont_niveau_huile_quantite }}
                </span>
            </p>

            <p>
                <strong>{% trans "Ajout de liquide de freins" %} :</strong>
                <span class="{% if niveau.frein_liquide_quantite > 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ niveau.frein_liquide_quantite }}
                </span>
            </p>

            <p>
                <strong>{% trans "Ajout de liquide de refroidissement" %} :</strong>
                <span class="{% if niveau.refroidissement_quantite > 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ niveau.refroidissement_quantite }}
                </span>
            </p>

            <p>
                <strong>{% trans "Ajout de lave-glace" %} :</strong>
                <span class="{% if niveau.lave_glace_quantite > 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ niveau.lave_glace_quantite }}
                </span>
            </p>
            <br>
            <br>

            <p><strong>{% trans "Remarques" %} :</strong> {{ niveau.remarques }}</p>
        </div>

        <!-- Bouton Modifier -->
        <div class="mt-auto w-full">
            <a href="{% url 'niveaux:modifier_niveaux' niveau.id %}" class="block w-full">
                <button type="button" class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                    {% trans "Modifier le contrôle des niveaux" %}
                </button>
            </a>
        </div>
    </div>


    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ niveau.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ niveau.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <br>
    <br>
    <!-- Actions -->
    <div>
       <a href="{% url 'niveaux:niveaux_list' niveau.voiture_exemplaire.id %}"
             class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
            {% trans "Retour à la liste des niveaux" %}
       </a>
    </div>

</div>
{% endblock %}