{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
       <h1 class="text-2xl font-bold flex items-center gap-4">
            {% with image_name=outillage|slugify %}
                <img src="{% static 'outillage.societe.nom/'|add:image_name|add:'.png' %}"
                     alt="{{ outillage.societe.nom }}"
                     class="w-12 h-12"
                     onerror="this.src='{% static 'icons/outils.png' %}';">
            {% endwith %}
            <span>{% trans "Détails de l'outillage :" %}</span>

           <span class="text-black-700">{{ outillage.libelle }}</span>

        </h1>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">
                {% trans "Informations générales" %}
            </h2>

             <p>
                <strong>{% trans "Fournisseur" %} :</strong>
                {{ outillage.fournisseur }}
            </p> <p>
                <strong>{% trans "Libellé" %} :</strong>
                {{ outillage.libelle }}
            </p>
             <p>
                <strong>{% trans "Référence" %} :</strong>
                {{ outillage.reference }}
            </p>
             <p>
                <strong>{% trans "Prix TVAC" %} :</strong>
                {{ outillage.montant_calcule }} €
            </p>

        </div>

        <!-- Peppol -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">
                {% trans "Autres Informations" %}
            </h2>

            <p>
                <strong>{% trans "Remarques" %} :</strong><br>
                {{ outillage.remarques }}
            </p>

        </div>
         <div class="mt-auto w-full">
             <a href="{% url 'outillage:modifier_outillage' outillage.id_outillage %}" class="block w-full">
                 <button type="button"
                            class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                        {% trans "Modifier l'outil" %}
                    </button>
                </a>
         </div>
    </div>


    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ outillage.created_at|date:"d/m/Y H:i" }}
        </p>

        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ outillage.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>

    <br>

    <!-- Actions -->
    <div>
        <a href="{% url 'outillage:outillage_list' %}"
             class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
                    {% trans "Retour à la liste des outils" %}
        </a>
    </div>

</div>
{% endblock %}
