{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle du refroidissement" %}{% endblock %}

{% block content %}
    {% url 'refroidissement:modifier_ref' ref.pk as url_modifier %}
    {% url 'refroidissement:ref_detail_pdf' ref.pk as url_pdf %}
    {% url 'refroidissement:delete_ref' ref.pk as url_delete %}
    {% if exemplaire %}{% url 'refroidissement:ref_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle du refroidissement" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=ref km_controle=ref.kilometrage_refroidissement icone="radiateur.png" %}
{% endblock %}
