{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de la boîte automatique" %}{% endblock %}

{% block content %}
    {% url 'bte_auto:modifier_bte_auto' bte_auto.pk as url_modifier %}
    {% url 'bte_auto:bte_auto_pdf' bte_auto.pk as url_pdf %}
    {% url 'bte_auto:delete_bte_auto' bte_auto.pk as url_delete %}
    {% if exemplaire %}{% url 'bte_auto:bte_auto_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de la boîte automatique" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=bte_auto km_controle=bte_auto.kilometrage_controle_boite_auto icone="boite-auto.png" %}
{% endblock %}
