{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #111;
        }

        h1 {
            font-size: 20px;
            margin-bottom: 15px;
            padding-bottom: 6px;
            color: #1e3a8a;
            border-bottom: 2px solid #1e3a8a;
        }

        h2 {
            font-size: 14px;
            margin-top: 18px;
            margin-bottom: 8px;
            padding-bottom: 4px;
            color: #1e40af;
            border-bottom: 1px solid #93c5fd;
        }
        .box {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 12px;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 6px;
        }

        .label {
            font-weight: bold;
        }

        .tag {
            padding: 3px 8px;
            border-radius: 4px;
            color: white;
            font-weight: bold;
        }

        .tag-vert {
            background: #16a34a;
        }

        .tag-jaune {
            background: #ca8a04;
        }

        .tag-rouge {
            background: #dc2626;
        }


        .etat-vert {
            color: #166534;
            background: #dcfce7;
            padding: 2px 6px;
            border-radius: 4px;
            font-weight: bold;
        }

        .etat-rouge {
            color: #991b1b;
            background: #fee2e2;
            padding: 2px 6px;
            border-radius: 4px;
            font-weight: bold;
        }

        .etat-bleu {
            color: #1e40af;
            background: #dbeafe;
            padding: 2px 6px;
            border-radius: 4px;
            font-weight: bold;
        }

        .etat-gris {
            color: #6b7280;
            background: #f3f4f6;
            padding: 2px 6px;
            border-radius: 4px;
            font-weight: bold;
        }

        .tag {
        padding: 2px 8px;
        border-radius: 4px;
        font-weight: bold;
        }

        .tag-vert {
            background: #d1fae5;
            color: #065f46;
        }

        .tag-jaune {
            background: #fef3c7;
            color: #92400e;
        }

        .tag-rouge {
            background: #fee2e2;
            color: #991b1b;
        }



        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

       th,
        td {
            border: 1px solid #d1d5db;
            padding: 6px;
            vertical-align: middle;
        }

        th {
            background: #eff6ff;
            color: #1e3a8a;
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        .total {
            font-weight: bold;
            background: #f8fafc;
        }
         .societe-header {
            display: table;
            width: 100%;
            margin-bottom: 25px;
            padding-bottom: 15px;
            border-bottom: 2px solid #1e3a8a;
        }

        .societe-informations {
            display: table-cell;
            width: 75%;
            vertical-align: top;
            line-height: 1.6;
        }

        .societe-informations div {
            margin-bottom: 6px;
        }

        .societe-nom {
            font-size: 18px;
            font-weight: bold;
            color: #1e3a8a;
            margin-bottom: 12px;
        }

        .societe-logo {
            display: table-cell;
            width: 25%;
            text-align: right;
            vertical-align: top;
        }

        .societe-logo img {
            max-width: 200px;
            max-height: 200px;
        }
         .footer {
            margin-top: 25px;
            font-size: 10px;
            color: #666;
            text-align: center;
        }
    </style>
</head>
<body>

{% if objet.tech_societe %}
    <div class="societe-header">

        <div class="societe-informations">
            <div class="societe-nom">
                {{ objet.tech_societe.nom }}
            </div>

            {% if objet.tech_societe.adresse %}
                <div>
                    {{ objet.tech_societe.adresse.rue }}
                    {{ objet.tech_societe.adresse.numero }}
                    {% if objet.tech_societe.adresse.boite %}
                        / {{ objet.tech_societe.adresse.boite }}
                    {% endif %}
                </div>

                <div>
                    {{ objet.tech_societe.adresse.code_postal }}
                    {{ objet.tech_societe.adresse.ville }}
                </div>
            {% endif %}

            {% if objet.tech_societe.adresse.pays %}
                <div>{{ objet.tech_societe.adresse.pays }}
                    {{ objet.tech_societe.adresse.code_pays  }}
                </div>
            {% endif %}

            {% if objet.tech_societe.numero_tva %}
                <div>
                    <strong>{% trans "Numéro de TVA" %} :</strong>
                    {{ objet.tech_societe.numero_tva }}
                </div>
            {% endif %}
             {% if objet.tech_societe.iban %}
                <div>
                    <strong>{% trans "Numéro de compte" %} :</strong>
                    {{ objet.tech_societe.iban }}
                </div>
            {% endif %}
        </div>

        <div class="societe-logo">
            <img
                src="{% static 'societe/' %}{{ objet.tech_societe.nom }}.png"
                alt="{{ objet.tech_societe.nom }}"
            >
        </div>

    </div>
{% endif %}

<h1>{% trans "Rapport du contrôle des silent blocs" %}</h1>

<div class="box">
    <div class="grid">
        <div><span class="label">{% trans "Société" %} :</span> {{ societe.nom }}</div>
        <div><span class="label">{% trans "Date export" %} :</span> {{ date_export|date:"d/m/Y H:i" }}</div>

        <div><span class="label">{% trans "Véhicule" %} :</span> {{ objet.voiture_exemplaire }}</div>
        <div><span class="label">{% trans "Kilométrage du contrôle" %} :</span> {{ objet.kilometrage_silent }} km</div>

        <div><span class="label">{% trans "Kilométrage chassis" %} :</span> {{ objet.kilometres_chassis }} km</div>
        <div>
            <span class="label">{% trans "Tag" %} :</span>
            {% if objet.tag == "VERT" %}
                <span class="tag tag-vert">{{ objet.get_tag_display }}</span>
            {% elif objet.tag == "JAUNE" %}
                <span class="tag tag-jaune">{{ objet.get_tag_display }}</span>
            {% else %}
                <span class="tag tag-rouge">{{ objet.get_tag_display }}</span>
            {% endif %}
        </div>
    </div>
</div>

<h2>{% trans "Technicien" %}</h2>

<div class="box">
    <div class="grid">
        <div><span class="label">{% trans "Nom" %} :</span> {{ objet.tech_nom_technicien }}</div>
        <div><span class="label">{% trans "Rôle" %} :</span> {{ objet.tech_role_technicien }}</div>
    </div>
</div>

<h2>{% trans "Silent blocs" %}</h2>

<table>
    <thead>
        <tr>
            <th>{% trans "Élément contrôlé" %}</th>
            <th>{% trans "État" %}</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{% trans "Silent blocs barre stabilisatrice avant" %}</td>
            <td>
                {% if objet.silent_blocs_barre_stabilisatrice_av == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_barre_stabilisatrice_av_display }}</span>
                {% elif objet.silent_blocs_barre_stabilisatrice_av == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_barre_stabilisatrice_av_display }}</span>
                {% elif objet.silent_blocs_barre_stabilisatrice_av == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_barre_stabilisatrice_av_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_barre_stabilisatrice_av_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent blocs barre stabilisatrice arrière" %}</td>
            <td>
                {% if objet.silent_blocs_barre_stabilisatrice_ar == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_barre_stabilisatrice_ar_display }}</span>
                {% elif objet.silent_blocs_barre_stabilisatrice_ar == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_barre_stabilisatrice_ar_display }}</span>
                {% elif objet.silent_blocs_barre_stabilisatrice_ar == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_barre_stabilisatrice_ar_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_barre_stabilisatrice_ar_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent bloc amortisseur avant droit" %}</td>
            <td>
                {% if objet.silent_blocs_amortisseur_avd == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_amortisseur_avd_display }}</span>
                {% elif objet.silent_blocs_amortisseur_avd == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_amortisseur_avd_display }}</span>
                {% elif objet.silent_blocs_amortisseur_avd == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_amortisseur_avd_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_amortisseur_avd_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

       <tr>
            <td>{% trans "Silent bloc amortisseur avant gauche" %}</td>
            <td>
                {% if objet.silent_bloc_amortisseur_avg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_bloc_amortisseur_avg_display }}</span>
                {% elif objet.silent_bloc_amortisseur_avg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_bloc_amortisseur_avg_display }}</span>
                {% elif objet.silent_bloc_amortisseur_avg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_bloc_amortisseur_avg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_bloc_amortisseur_avg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent bloc amortisseur arrière droit" %}</td>
            <td>
                {% if objet.silent_blocs_amortisseur_ard == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_amortisseur_ard_display }}</span>
                {% elif objet.silent_blocs_amortisseur_ard == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_amortisseur_ard_display }}</span>
                {% elif objet.silent_blocs_amortisseur_ard == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_amortisseur_ard_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_amortisseur_ard_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent bloc amortisseur arrière gauche" %}</td>
            <td>
                {% if objet.silent_blocs_amortisseur_arg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_amortisseur_arg_display }}</span>
                {% elif objet.silent_blocs_amortisseur_arg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_amortisseur_arg_display }}</span>
                {% elif objet.silent_blocs_amortisseur_arg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_amortisseur_arg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_amortisseur_arg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle inférieur avant droit" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_inf_avd == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_inf_avd_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_avd == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_inf_avd_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_avd == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_inf_avd_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_inf_avd_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle inférieur avant gauche" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_inf_avg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_inf_avg_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_avg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_inf_avg_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_avg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_inf_avg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_inf_avg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle inférieur arrière droit" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_inf_ard == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_inf_ard_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_ard == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_inf_ard_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_ard == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_inf_ard_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_inf_ard_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle inférieur arrière gauche" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_inf_arg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_inf_arg_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_arg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_inf_arg_display }}</span>
                {% elif objet.silent_blocs_triangle_inf_arg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_inf_arg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_inf_arg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle supérieur avant droit" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_sup_avd == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_sup_avd_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_avd == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_sup_avd_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_avd == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_sup_avd_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_sup_avd_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>
       <tr>
            <td>{% trans "Triangle supérieur avant gauche" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_sup_avg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_sup_avg_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_avg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_sup_avg_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_avg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_sup_avg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_sup_avg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle supérieur arrière droit" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_sup_ard == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_sup_ard_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_ard == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_sup_ard_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_ard == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_sup_ard_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_sup_ard_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Triangle supérieur arrière gauche" %}</td>
            <td>
                {% if objet.silent_blocs_triangle_sup_arg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_triangle_sup_arg_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_arg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_triangle_sup_arg_display }}</span>
                {% elif objet.silent_blocs_triangle_sup_arg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_triangle_sup_arg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_triangle_sup_arg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

       <tr>
            <td>{% trans "Suspension multi-bras avant droit" %}</td>
            <td>
                {% if objet.silent_blocs_multi_bras_avd == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_multi_bras_avd_display }}</span>
                {% elif objet.silent_blocs_multi_bras_avd == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_multi_bras_avd_display }}</span>
                {% elif objet.silent_blocs_multi_bras_avd == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_multi_bras_avd_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_multi_bras_avd_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Suspension multi-bras avant gauche" %}</td>
            <td>
                {% if objet.silent_blocs_multi_bras_avg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_multi_bras_avg_display }}</span>
                {% elif objet.silent_blocs_multi_bras_avg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_multi_bras_avg_display }}</span>
                {% elif objet.silent_blocs_multi_bras_avg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_multi_bras_avg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_multi_bras_avg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Suspension multi-bras arrière droit" %}</td>
            <td>
                {% if objet.silent_blocs_multi_bras_ard == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_multi_bras_ard_display }}</span>
                {% elif objet.silent_blocs_multi_bras_ard == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_multi_bras_ard_display }}</span>
                {% elif objet.silent_blocs_multi_bras_ard == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_multi_bras_ard_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_multi_bras_ard_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Suspension multi-bras arrière gauche" %}</td>
            <td>
                {% if objet.silent_blocs_multi_bras_arg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_multi_bras_arg_display }}</span>
                {% elif objet.silent_blocs_multi_bras_arg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_multi_bras_arg_display }}</span>
                {% elif objet.silent_blocs_multi_bras_arg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_multi_bras_arg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_multi_bras_arg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent bloc moteur" %}</td>
            <td>
                {% if objet.silent_blocs_moteur_avg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_moteur_avg_display }}</span>
                {% elif objet.silent_blocs_moteur_avg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_moteur_avg_display }}</span>
                {% elif objet.silent_blocs_moteur_avg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_moteur_avg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_moteur_avg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent bloc de boîte de vitesse" %}</td>
            <td>
                {% if objet.silent_blocs_moteur_boite_ard == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_moteur_boite_ard_display }}</span>
                {% elif objet.silent_blocs_moteur_boite_ard == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_moteur_boite_ard_display }}</span>
                {% elif objet.silent_blocs_moteur_boite_ard == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_moteur_boite_ard_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_moteur_boite_ard_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>{% trans "Silent bloc moteur pendulaire" %}</td>
            <td>
                {% if objet.silent_blocs_moteur_inf_arg == "OK" %}
                    <span class="etat-vert">{{ objet.get_silent_blocs_moteur_inf_arg_display }}</span>
                {% elif objet.silent_blocs_moteur_inf_arg == "A_REMPLACER" %}
                    <span class="etat-rouge">{{ objet.get_silent_blocs_moteur_inf_arg_display }}</span>
                {% elif objet.silent_blocs_moteur_inf_arg == "REMPLACE" %}
                    <span class="etat-bleu">{{ objet.get_silent_blocs_moteur_inf_arg_display }}</span>
                {% else %}
                    <span class="etat-gris">{{ objet.get_silent_blocs_moteur_inf_arg_display|default:"-" }}</span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<br>
<br>
<br>
<br>
<!-- ================= MAIN D'ŒUVRE ================= -->

<h2>{% trans "Main d'œuvre" %}</h2>

<div class="box">
    <div class="grid">
        <div>
            <span class="label">{% trans "Temps" %} :</span>
            {{ silent_bloc.temps_main_oeuvre_display|default:"0h00" }}
        </div>

        <div>
            <span class="label">{% trans "Taux horaire" %} :</span>
            {{ silent_bloc.taux_horaire|floatformat:2 }} €
        </div>

        {% if silent_bloc.main_oeuvre %}
            <div>
                <span class="label">{% trans "Prix facturé" %} :</span>
                {{ silent_bloc.cout_main_oeuvre|floatformat:2 }} €
            </div>

            <div>
                <span class="label">{% trans "Descriptif" %} :</span>
                {{ silent_bloc.main_oeuvre.descriptif|default:"-" }}
            </div>
        {% else %}
            <div>{% trans "Aucune main d'œuvre liée" %}</div>
        {% endif %}
    </div>
</div>

<!-- ================================================== -->
<!-- PIÈCES ET MAIN-D'ŒUVRE -->
<!-- ================================================== -->

<h2>{% trans "Pièces à remplacer, remplacées et main-d'œuvre" %}</h2>

<div class="box">

    {% if rapport.lignes %}

        <table>source
            <thead>
                <tr>
                    <th>{% trans "Pièce" %}</th>
                    <th>{% trans "État" %}</th>
                    <th class="text-right">
                        {% trans "Quantité" %}
                    </th>
                    <th class="text-right">
                        {% trans "Prix unitaire HTVA" %}
                    </th>
                    <th class="text-right">
                        {% trans "Total HTVA" %}
                    </th>
                </tr>
            </thead>

            <tbody>

                {% for ligne in rapport.lignes %}
                    <tr>
                        <td>
                            {{ ligne.champ|default:"-" }}
                        </td>

                        <td>
                                {% if ligne.etat == "OK" or ligne.etat == "BON"  or ligne.etat == "PROPRE" %}
                                    <span class="etat-vert">
                                        {{ ligne.etat_label|default:"-" }}
                                    </span>

                                {% elif ligne.etat == "A_REMPLACER" or ligne.etat == "NOT_OK" or ligne.etat == "REMPLACER" or ligne.etat == "A_FAIRE" or ligne.etat == "AJOUTER" %}
                                    <span class="etat-rouge">
                                        {{ ligne.etat_label|default:"-" }}
                                    </span>

                                {% elif ligne.etat == "REMPLACE" or ligne.etat == "FAIT" %}
                                    <span class="etat-bleu">
                                        {{ ligne.etat_label|default:"-" }}
                                    </span>

                                {% elif ligne.etat == "REPORTER" %}
                                    <span class="etat-jaune">
                                        {{ ligne.etat_label|default:"-" }}
                                    </span>

                                {% else %}
                                    <span class="etat-gris">
                                        {{ ligne.etat_label|default:"-" }}
                                    </span>
                                {% endif %}
                            </td>
                        <td class="text-right">
                            {{ ligne.quantite|default:0 }}
                        </td>

                        <td class="text-right">
                            {{ ligne.prix|default:0|floatformat:2 }} €
                        </td>

                        <td class="text-right">
                            {{ ligne.total|default:0|floatformat:2 }} €
                        </td>


                {% endfor %}

                    <tr class="total">
                        <td colspan="4" class="text-right">

                            <strong>
                                {% trans "Total des pièces HTVA" %}
                            </strong>
                        </td>

                        <td class="text-right">
                            <strong>
                                {{ rapport.total_general|default:0|floatformat:2 }} €
                            </strong>
                        </td>
                    </tr>

                    <tr class="total">
                       <td colspan="4" class="text-right">

                            <strong>
                                {% trans "Main-d'œuvre" %}
                            </strong>
                        </td>

                        <td class="text-right">
                            <strong>
                                {{ silent_bloc.cout_main_oeuvre|default:0|floatformat:2 }} €
                            </strong>
                        </td>
                    </tr>

                    <tr class="total">
                       <td colspan="4" class="text-right">

                            <strong>
                                {% trans "Total général avec main-d'œuvre" %}
                            </strong>
                        </td>

                        <td class="text-right">
                            <strong>
                                {{ silent_bloc.total_general_avec_main_oeuvre|default:0|floatformat:2 }} €
                            </strong>
                        </td>
                    </tr>

            </tbody>
        </table>

    {% else %}

        <p>
            {% trans "Aucune pièce à remplacer ou remplacée." %}
        </p>

        <table>
            <tbody>

                <tr class="total">
                    <td class="text-left">
                        <strong>{% trans "Main-d'œuvre" %}</strong>
                    </td>

                    <td class="text-right">
                        <strong>
                            {{ silent_bloc.cout_main_oeuvre|default:0|floatformat:2 }} €
                        </strong>
                    </td>
                </tr>

                <tr class="total">
                    <td class="text-left">
                        <strong>{% trans "Total général" %}</strong>
                    </td>

                    <td class="text-right">
                        <strong>
                            {{ silent_bloc.total_general_avec_main_oeuvre|default:0|floatformat:2 }} €
                        </strong>
                    </td>
                </tr>

            </tbody>
        </table>

    {% endif %}

</div>


<h2>{% trans "Remarques" %}</h2>

<div class="box">
    {% if objet.remarques %}
        {{ objet.remarques|linebreaks }}
    {% else %}
        {% trans "Aucune remarque" %}
    {% endif %}
</div>


<div class="footer">
    {% trans "Document généré automatiquement par CarsCosts.com." %}
    <br>
    {% trans "Date export" %} : {{ date_export|date:"d/m/Y H:i" }}
</div>

</body>
</html>

</body>
</html>