{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full">

    <!-- Header -->
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-2xl font-bold flex items-center gap-4">
            <img src="{% static 'icons/silent.png' %}"
                 alt="{{ silent.voiture_exemplaire.immatriculation }}"
                 class="w-12 h-12">
            <span>{% trans "Détails du contrôle des Silent Blocs : " %}</span>
              {{ exemplaire.voiture_marque.nom_marque }}
                {{ exemplaire.voiture_modele.nom_modele }}
                {{ exemplaire.voiture_modele.nom_variante }}
        </h1>

        <a href="{% url 'silent_blocs:silent_list' exemplaire.id %}"
           class="text-blue-600 hover:underline">
            {% trans "Retour à la liste des contrôles silent blocs" %}
        </a>
    </div>

    <!-- Infos principales -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

        <!-- Informations générales -->
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col gap-4">
            <h2 class="text-lg font-semibold mb-2">{% trans "Informations générales" %}</h2>

           <p><strong>{% trans "Immatriculation" %} :</strong>
                <div>
                    {% include "fuel/partials/plaque.html" %}
                </div>
            </p>
            <p><strong>{% trans "Kilométrage" %} :</strong> {{ silent.kilometres_chassis }}</p>
            <p><strong>{% trans "Tag" %} :</strong> {{ silent.get_tag_display }}</p>
            <p><strong>{% trans "Technicien" %} :</strong> {{ silent.tech_nom_technicien }} ({{ silent.tech_role_technicien }})</p>
        </div>

        <!-- Maintenance / Niveaux -->
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-lg font-semibold mb-4">{% trans "Silent Blocs" %}</h2>
            <p><strong>{% trans "Date de l'intervention" %} :</strong> {{ silent.date|date:"d/m/Y" }}</p>
        </div>

        <!-- Bouton Modifier -->
        <div class="mt-auto w-full">
            <a href="{% url 'silent_blocs:modifier_silent' silent.id %}" class="block w-full">
                <button type="button" class="w-full bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-400 font-semibold">
                    {% trans "Modifier le contrôle des silent blocs" %}
                </button>
            </a>
        </div>
    </div>


    <!-- Métadonnées -->
    <div class="bg-white shadow-md rounded-lg p-6 mb-6">
        <h2 class="text-lg font-semibold mb-4">
            {% trans "Métadonnées" %}
        </h2>

        <p>
            <strong>{% trans "Créé le" %} :</strong>
            {{ silent.created_at|date:"d/m/Y H:i" }}
        </p>
        <p>
            <strong>{% trans "Mis à jour le" %} :</strong>
            {{ silent.updated_at|date:"d/m/Y H:i" }}
        </p>
    </div>
    <br>

    <!-- Actions -->
    <div>
       <a href="{% url 'silent_blocs:silent_list' silent.voiture_exemplaire.id %}"
            class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
            {% trans "Retour à la liste des contrôles des silent blocs" %}
       </a>
    </div>

</div>
{% endblock %}