{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle des silent blocs" %}{% endblock %}

{% block content %}
    {% url 'silent_blocs:modifier_silent' silent.pk as url_modifier %}
    {% url 'silent_blocs:silent_bloc_pdf' silent.pk as url_pdf %}
    {% url 'silent_blocs:delete_silent' silent.pk as url_delete %}
    {% if exemplaire %}{% url 'silent_blocs:silent_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle des silent blocs" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=silent km_controle=silent.kilometrage_silent icone="silent.png" %}
{% endblock %}
