{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<div class="p-6 w-full ml-[-10px] mr-[10px]">



    <h1 class="text-2xl font-bold mb-6">{% trans "Marques de voiture" %}</h1>



    <!-- Recherche -->
   <div class="mb-6">
        <input
            type="text"
            id="search-marque"
            class="border rounded-lg px-4 py-2 w-full"
            placeholder="{% trans 'Rechercher une marque...' %}"
        >
    </div>
    <div class="flex justify-end mb-6">
        <a href="{% url 'voiture_marque:marques_favorites' %}"
           class="inline-flex items-center gap-2 px-4 py-2 bg-yellow-400 hover:bg-yellow-500 text-black font-semibold rounded-lg transition">
            ⭐ {% trans "Mes marques favorites" %}
        </a>
    </div>

    <!-- Marques -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {% for marque in marques %}
        <div class="bg-white shadow-md transition duration-300 hover:shadow-lg hover:bg-blue-50 rounded-lg p-6 marque-card
                    flex items-center gap-6 cursor-pointer w-full "
             onclick="window.location.href='{% url 'voiture_marque:modeles_par_marque' marque_id=marque.id_marque %}'"
             data-marque-id="{{ marque.id_marque }}"
             data-marque-nom="{{ marque.nom_marque|lower }}">

             <!-- ⭐ ÉTOILE FAVORI -->
            <div class="absolute top-3 right-3 z-10">
                <button
                    class="favorite-btn text-2xl"
                    data-url="{% url 'voiture_marque:toggle_marque_favorite' marque_id=marque.id_marque %}"
                    onclick="event.stopPropagation();">
                    {% if marque.id_marque in favorites_ids %}
                        ⭐
                    {% else %}
                        ☆
                    {% endif %}
                </button>
            </div>

           <div class="flex-1">
                <h2 class="text-lg font-semibold">{{ marque.nom_marque }}</h2>
                <p class="text-gray-600">
                    {% trans "Voir les" %} {{ marque.modeles.count }} {% trans "modèles de" %} {{ marque.nom_marque }}
                </p>
           </div>


            <img src="{% static 'images/marques/' %}{{ marque.nom_marque|lower }}.png"
                 style="width:75px; margin-right:5px;"
                 onerror="this.src='{% static 'images/marques/default.png' %}'">
        </div>
        {% endfor %}
    </div>

</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script>
document.querySelectorAll(".favorite-btn").forEach(btn => {
    btn.addEventListener("click", function () {
        fetch(this.dataset.url, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
        })
        .then(res => res.json())
        .then(data => {
            this.textContent = data.is_favorite ? "⭐" : "☆";
        });
    });
});
</script>


{% endblock %}
