{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'ABS" %}{% endblock %}

{% block content %}
    {% url 'abs:modifier_abs' abs.pk as url_modifier %}
    {% url 'abs:abs_detail_pdf' abs.pk as url_pdf %}
    {% url 'abs:delete_abs' abs.pk as url_delete %}
    {% if exemplaire %}{% url 'abs:abs_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'ABS" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=abs km_controle=abs.kilometrage_abs icone="abs.png" %}
{% endblock %}
