{% extends "base.html" %}
{% django_browser_reload %}
{% load i18n static widget_tweaks %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{% trans "Connexion" %}{% endblock %}
{% block bodyId %}{% trans "Page de Connexion" %}{% endblock %}

{% block title %}
<form action="login" method="post" class="space-y-4">
    {% csrf_token %}
    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}
    {{ form.as_p }}
      <div class="flex items-center justify-between">
        <div>
          <input type="checkbox" name="remember" id="remember" class="mr-1">
          <label for="remember" class="text-sm text-gray-600">{% trans "Se souvenir de moi" %}</label>
        </div>
      </div>

      <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 transition">{% trans "Se connecter" %}</button>
    </form>

{% endblock %}