{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du remplacement de la boîte de vitesse" %}{% endblock %}

{% block content %}
    {% url 'remplacement_boite:modifier_remplacement_boite' remplacement_boite.pk as url_modifier %}
    {% url 'remplacement_boite:remplacement_boite_pdf' remplacement_boite.pk as url_pdf %}
    {% url 'remplacement_boite:delete_remplacement_boite' remplacement_boite.pk as url_delete %}
    {% if exemplaire %}{% url 'remplacement_boite:remplacement_boite_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du remplacement de la boîte de vitesse" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=remplacement_boite km_controle=remplacement_boite.kilometres_remplacement icone="boite-de-vitesse.png" %}
{% endblock %}
