{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Liste des remplacements de la boite de vitesse" %}{% endblock %}

{% block content %}

<br><br>

<h1 class="text-2xl font-bold mb-6 flex items-center">
    <img src="{% static 'icons/boite-de-vitesse.png' %}" alt="boite de vitesse"
         style="width:60px; height:60px; margin-right:10px;">
    {% trans "Liste des remplacements de la boite de vitesse" %}
</h1>

<br>

<!-- 🔘 ADD BUTTON -->
{% if exemplaire %}
<div>
    <a href="{% url 'remplacement_boite:remplacement_boite_form' exemplaire.id %}"
       class="bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center inline-block">
        {% trans "Ajouter un remplacement boite" %}
    </a>
</div>
{% endif %}
<br>
<div class="bg-white shadow-md rounded-lg p-4 mb-4">
    <div class="flex flex-wrap items-end gap-3">

        <input id="search-immatriculation" type="text"
               class="border rounded px-3 py-2 flex-1 min-w-[150px] focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="{% trans 'Immatriculation' %}" >

        <input id="search-kilometres_boite" type="text"
               class="border rounded px-3 py-2 flex-1 min-w-[150px] focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="{% trans 'Kilomètres boite' %}">

        <input id="search-kilometres_chassis" type="text"
               class="border rounded px-3 py-2 flex-1 min-w-[150px] focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="{% trans 'kilometres_chassis' %}">

        <input id="search-nombre_remplacements" type="text"
               class="border rounded px-3 py-2 flex-1 min-w-[120px] focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="{% trans 'Boite N°' %}">

         <input id="search-utilisateur" type="text"
               class="border rounded px-3 py-2 flex-1 min-w-[120px] focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="{% trans 'Technicien' %}">

        <input id="search-date" type="date"
               class="border rounded px-3 py-2 flex-1 min-w-[120px] focus:outline-none focus:ring-2 focus:ring-blue-500">

        <input id="search-temps" type="text"
               class="border rounded px-3 py-2 flex-1 min-w-[120px] focus:outline-none focus:ring-2 focus:ring-blue-500"
               placeholder="{% trans 'Temps' %}">

    </div>
</div>


<br><br>

<!-- 📊 TABLE -->
<table id="remplacement_boite-table"
       class="min-w-full table-auto border border-gray-200 bg-white">

    <thead>
        <tr class="bg-gray-100">
            <th>{% trans "Immatriculation" %}</th>
            <th>{% trans "Km boite" %}</th>
            <th>{% trans "Km châssis" %}</th>
            <th>{% trans "Nombre de remplacements" %}</th>
            <th>{% trans "Tag" %}</th>
            <th>{% trans "Technicien" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Temps" %}</th>
            <th class="text-center">{% trans "Actions" %}</th>
        </tr>
    </thead>

    <tbody>

    {% for remplacement in remplacements %}

        {% with exemplaire=remplacement.voiture_exemplaire %}

        <tr>
             <td class="p-3">
                {% if exemplaire %}
                    {% if exemplaire.pays == 'Belgique' %}
                        <div class="flex items-center w-[160px] h-[30px] bg-white border-2 border-[#8B0000] rounded font-[Arial]">
                            <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[14px] leading-none">
                                <span>🇪🇺</span><span>B</span>
                            </div>
                            <div class="w-full text-center font-bold text-[#8B0000] text-[18px]">
                                {{ exemplaire.immatriculation|upper }}
                            </div>
                        </div>
                    {% elif exemplaire.pays == 'Luxembourg' %}
                        <div class="flex items-center w-[160px] h-[30px] bg-[#FFEB3B] border-2 border-black rounded font-[Arial]">
                            <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[14px] leading-none">
                                <span>🇪🇺</span><span>L</span>
                            </div>
                            <div class="w-full text-center font-bold text-black text-[18px]">
                                {{ exemplaire.immatriculation|upper }}
                            </div>
                        </div>
                    {% elif exemplaire.pays == 'Allemagne' %}
                        <div class="flex items-center w-[160px] h-[30px] bg-white border-2 border-black rounded font-[Arial]">
                            <div class="flex flex-col items-center justify-center bg-[#003399] text-white font-bold px-[6px] rounded-l text-[14px] leading-none">
                                <span>🇪🇺</span><span>D</span>
                            </div>
                            <div class="w-full text-center font-bold text-black text-[18px]">
                                {{ exemplaire.immatriculation|upper }}
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>

            <!-- KM MOTEUR -->
            <td class="border px-4 py-2 font-semibold">
                {{ remplacement.kilometres_boite }}
            </td>

            <!-- KM CHASSIS -->
            <td class="border px-4 py-2">
                {{ remplacement.kilometres_chassis|default:"-" }}
            </td>

            <!-- nombre de remplacment -->
            <td class="border px-4 py-2">
                {{ remplacement.nombre_remplacements|default:"-" }}
            </td>

            <!-- TAG -->
            <td class="border px-4 py-2 text-center font-bold
                {% if remplacement.tag == 'VERT' %}
                    bg-green-100 text-green-800
                {% elif remplacement.tag == 'JAUNE' %}
                    bg-yellow-100 text-yellow-800
                {% elif remplacement.tag == 'ROUGE' %}
                    bg-red-100 text-red-800
                {% endif %}">
                {{ remplacement.get_tag_display }}
            </td>

            <!-- TECHNICIEN -->
            <td class="border px-4 py-2">
                {{ remplacement.tech_nom_technicien|default:"-" }}
            </td>

            <!-- DATE -->
            <td class="border px-4 py-2">
                {{ remplacement.date|date:"d/m/Y H:i" }}
            </td>

             <td class="border px-4 py-2">
                {{ remplacement.main_oeuvre.temps_display|default:"-" }}
            </td>

            <!-- ACTIONS -->
            <td class="border px-4 py-2 text-center">

                {% if remplacement.id %}
                <a href="{% url 'remplacement_boite:remplacement_boite_detail' remplacement.id %}"
                   class="bg-blue-600 text-white px-4 py-1 rounded hover:bg-blue-700">
                    {% trans "Infos" %}
                </a>
                {% else %}
                    -
                {% endif %}

            </td>

        </tr>

        {% endwith %}

    {% empty %}
        <tr>
            <td colspan="7" class="text-center py-4">
                {% trans "Aucun remplacement de boite enregistré." %}
            </td>
        </tr>
    {% endfor %}

    </tbody>

</table>

<br><br>

<!-- DASHBOARD -->
{% if exemplaire %}
<div>
    <a href="{% url 'boite_de_vitesse:dashboard_boite' exemplaire.id %}"
       class="bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold">
        {% trans "Retour au dashboard moteur" %}
    </a>
</div>

<br>
<br>

{% endif %}
<script>
$(document).ready(function() {
    var table = $('#remplacement_boite-table').DataTable({
        pageLength: 100,
        language: {
            search: "{% trans 'Recherche globale :' %}",
            lengthMenu: "{% trans 'Afficher _MENU_ éléments' %}",
            info: "{% trans 'Affichage de _START_ à _END_ sur _TOTAL_ remplacement de boite de vitesse' %}",
            infoEmpty: "{% trans 'Aucun contrôle trouvé' %}",
            zeroRecords: "{% trans 'Aucun contrôle trouvé' %}",
            paginate: {
                first: "{% trans 'Premier' %}",
                last: "{% trans 'Dernier' %}",
                next: "{% trans 'Suivant' %}",
                previous: "{% trans 'Précédent' %}"
            }
        },
        order: [[4, "desc"]]
    });

    $('#search-immatriculation').on('keyup', function () {
        table.column(0).search(this.value).draw();
    });
    $('#search-kilometres_boite').on('keyup', function () {
        table.column(1).search(this.value).draw();
    });
    $('#search-kilometres_chassis').on('keyup', function () {
        table.column(2).search(this.value).draw();
    });
    $('#search-nombre_remplacements').on('keyup', function () {
        table.column(3).search(this.value).draw();
    });
    $('#search-utilisateur').on('keyup', function () {
        table.column(4).search(this.value).draw();
    });
    $('#search-date').on('change', function () {
        table.column(5).search(this.value).draw();
    });
     $('#search-temps').on('keyup', function () {
        table.column(6).search(this.value).draw();
    });
});
</script>

{% endblock %}