{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de la courroie d'accessoires" %}{% endblock %}

{% block content %}
    {% url 'courroie_accessoires:modifier_courroie_access' courroie_accessoires.pk as url_modifier %}
    {% url 'courroie_accessoires:courroie_detail_pdf' courroie_accessoires.pk as url_pdf %}
    {% url 'courroie_accessoires:delete_cour_access' courroie_accessoires.pk as url_delete %}
    {% if exemplaire %}{% url 'courroie_accessoires:courroie_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de la courroie d'accessoires" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=courroie_accessoires km_controle=courroie_accessoires.kilometrage_access icone="courroie-daccess.png" %}
{% endblock %}
