{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle du turbo" %}{% endblock %}

{% block content %}
    {% url 'turbo:modifier_turbo' turbo.pk as url_modifier %}
    {% url 'turbo:turbo_detail_pdf' turbo.pk as url_pdf %}
    {% url 'turbo:delete_turbo' turbo.pk as url_delete %}
    {% if exemplaire %}{% url 'turbo:turbo_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle du turbo" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=turbo km_controle=turbo.kilometres_turbo icone="turbo.png" %}
{% endblock %}
