{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de la boîte de vitesse" %}{% endblock %}

{% block content %}
    {% url 'boite_de_vitesse:modifier_boite' boite.pk as url_modifier %}
    {% url 'boite_de_vitesse:boite_check_pdf' boite.pk as url_pdf %}
    {% url 'boite_de_vitesse:delete_boite' boite.pk as url_delete %}
    {% if exemplaire %}{% url 'boite_de_vitesse:boite_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de la boîte de vitesse" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=boite km_controle=boite.kilometrage_controle_boite icone="boite-de-vitesse.png" %}
{% endblock %}
