{% extends 'base.html' %}
{% load i18n static widget_tweaks %}
{% block title %}{% trans "Tableau de bord Moteur" %}{% endblock %}
{% block content %}

<br>
<br>
<h1 class="text-2xl font-bold mb-6">{% trans "Bienvenue sur le tableau de bord moteur" %}</h1>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">


<!-- Carte admission -->
  <a href="{% url 'boite_de_vitesse:boite_list' exemplaire.id %}"
     class="flex items-center justify-between bg-white shadow-md rounded-lg p-6 transition duration-300 hover:shadow-lg hover:bg-blue-50">
    <div>
      <h2 class="text-lg font-semibold mb-1">{% trans "Boite de vitesse" %}</h2>
      <p class="text-gray-600 text-sm">
        {% trans "Nombre total :" %} <span class="font-bold">{{ total_boite }}</span>
      </p>
    </div>
    <img src="{% static 'icons/boite-de-vitesse.png' %}" alt="Boite de vitesse" style="width:60px; height:60px;">
  </a>

<!-- Carte admission -->
  <a href="{% url 'remplacement_boite:remplacement_boite_list' exemplaire.id %}"
     class="flex items-center justify-between bg-white shadow-md rounded-lg p-6 transition duration-300 hover:shadow-lg hover:bg-blue-50">
    <div>
      <h2 class="text-lg font-semibold mb-1">{% trans "Remplacement Boite de Vitesse" %}</h2>
      <p class="text-gray-600 text-sm">
        {% trans "Nombre total :" %} <span class="font-bold">{{ total_remplacement_boite }}</span>
      </p>
    </div>
    <img src="{% static 'icons/boite-de-vitesse.png' %}" alt="Boite de vitesse" style="width:60px; height:60px;">
  </a>


</div>
<br>
<br>
<br>

<div>
    <a href="{% url 'autres_interventions:choisir_autre' exemplaire.id %}"
       class="flex-1 bg-blue-700 text-white px-5 py-4 rounded hover:bg-blue-400 font-semibold text-center">
        {% trans "Retour au tableau Interventions" %}
    </a>
</div>
<br>
<br>
{% endblock %}