{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'alternateur" %}{% endblock %}

{% block content %}
    {% url 'alternateur:modifier_alternateur' alternateur.pk as url_modifier %}
    {% url 'alternateur:alternateur_detail_pdf' alternateur.pk as url_pdf %}
    {% url 'alternateur:delete_alternateur' alternateur.pk as url_delete %}
    {% if exemplaire %}{% url 'alternateur:alternateur_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'alternateur" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=alternateur km_controle=alternateur.kilometrage_alte icone="alternateur.png" %}
{% endblock %}
