{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de la climatisation" %}{% endblock %}

{% block content %}
    {% url 'climatisation:modifier_clim' clim.pk as url_modifier %}
    {% url 'climatisation:clim_detail_pdf' clim.pk as url_pdf %}
    {% url 'climatisation:delete_clim' clim.pk as url_delete %}
    {% if exemplaire %}{% url 'climatisation:clim_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de la climatisation" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=clim km_controle=clim.kilometrage_clim icone="climatisation.png" %}
{% endblock %}
