{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle cardan" %}{% endblock %}

{% block content %}
    {% url 'cardan:modifier_cardan' cardan.pk as url_modifier %}
    {% url 'cardan:cardan_pdf' cardan.pk as url_pdf %}
    {% url 'cardan:delete_cardan' cardan.pk as url_delete %}
    {% if exemplaire %}{% url 'cardan:cardan_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle cardan" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=cardan km_controle=cardan.kilometrage_cardan icone="cardan.png" avec_cote=True %}
{% endblock %}
