{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'allumage" %}{% endblock %}

{% block content %}
    {% url 'allumage:modifier_allumage' allumage.pk as url_modifier %}
    {% url 'allumage:allumage_detail_pdf' allumage.pk as url_pdf %}
    {% url 'allumage:delete_allumage' allumage.pk as url_delete %}
    {% if exemplaire %}{% url 'allumage:allumage_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'allumage" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=allumage km_controle=allumage.kilometrage_allumage icone="allumage.png" %}
{% endblock %}
