@tailwind base;
@tailwind components;
@tailwind utilities;



/* Exemple de classe utilisant la couleur jaune clair (yellow-100) */
.bg-yellow-100 {
  background-color: var(--color-yellow-100);
}

.text-yellow-300 {
  color: var(--color-yellow-800);
}

.border-yellow-500 {
  border-color: var(--color-yellow-500);
}


