{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du contrôle de l'échappement" %}{% endblock %}

{% block content %}
    {% url 'echappement:modifier_echappement' echappement.pk as url_modifier %}
    {% url 'echappement:echappement_check_pdf' echappement.pk as url_pdf %}
    {% url 'echappement:delete_echappement' echappement.pk as url_delete %}
    {% if exemplaire %}{% url 'echappement:echappement_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du contrôle de l'échappement" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=echappement km_controle=echappement.kilometrage_echappement icone="echappement.png" %}
{% endblock %}
