{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Détails du remplacement moteur" %}{% endblock %}

{% block content %}
    {% url 'remplacement_moteur:modifier_remplacement_moteur' remplacement_moteur.pk as url_modifier %}
    {% url 'remplacement_moteur:remplacement_moteur_pdf' remplacement_moteur.pk as url_pdf %}
    {% url 'remplacement_moteur:delete_remplacement_moteur' remplacement_moteur.pk as url_delete %}
    {% if exemplaire %}{% url 'remplacement_moteur:remplacement_moteur_list' exemplaire.id as url_list %}{% endif %}
    {% trans "Détails du remplacement moteur" as titre %}

    {% include "maintenance/partials/intervention_detail.html" with obj=remplacement_moteur km_controle=remplacement_moteur.kilometres_remplacement_moteur icone="engine.png" %}
{% endblock %}
